<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">

        <link th:href="@{/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>课程详情(<span style="color:red">*为必填</span>)</h5>

        </div>
        <div class="ibox-content">

            <form id="frm">
                <div>
                    <h3>创建课程</h3>
                    <section style="position: static" th:object="${organCoursePo}">
                        <input id="courseId" name="organCoursePo.id" type="hidden" th:value="${organCoursePo.id}">
                        <input id="ognId" type="hidden" th:value="${organCoursePo.ognId}">
                        <div class="form-group">
                            <label for="courseName">课程名称 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <input id="courseName" name="organCoursePo.courseName" type="text" th:value="${organCoursePo.courseName}"
                                       required="true" aria-required="true" class=" form-control ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseType">课程类型 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <select id="courseType" name="organCoursePo.courseType" type="text" required="true"
                                        class=" form-control ">
                                    <option value="">请选择</option>
                                    <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpOrganCourseCourseType).values()}"
                                            th:field="*{courseType}"
                                            th:value="${state}"
                                            th:text="#{EpOrganCourseCourseType.+${state.literal}}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseCatalogId">课程所属目录 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <select id="courseCatalogId" name="organCoursePo.courseCatalogId" type="text" required="true"
                                        class="form-control" onchange="changeGetTags(this)">
                                    <option value="">请选择</option>
                                    <option th:each="state : ${constantCatalogMap.keySet()}" th:field="*{courseCatalogId}"
                                            th:value="${state}"
                                            th:text="${constantCatalogMap.get(state)}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseIntroduce">课程简介 </label>
                            <div class="input-group input-large col-sm-4">
                                <textarea id="courseIntroduce" name="organCoursePo.courseIntroduce" type="text"
                                          class="form-control " th:text="${organCoursePo.courseIntroduce}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseContent">课程内容 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <textarea id="courseContent" name="organCoursePo.courseContent" type="text"
                                          required="true" class="form-control " th:text="${organCoursePo.courseContent}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseNote">课程须知 </label>
                            <div class="input-group input-large col-sm-4">
                                <textarea id="courseNote" name="organCoursePo.courseNote" type="text"
                                          class="form-control " th:text="${organCoursePo.courseNote}"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="courseAddress">上课地址 *</label>
                            <div class="input-group input-large col-sm-4">
                                <textarea id="courseAddress" name="organCoursePo.courseAddress" type="text"
                                          class="form-control " th:text="${organCoursePo.courseAddress}">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="onlineTime">上线时间 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <input id="onlineTime" name="organCoursePo.onlineTime" type="text"
                                       required="true" class="form-control laydate"
                                       th:value="${#dates.format(organCoursePo.onlineTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterTimeStart">报名开始时间 <span style="color:red">*</span></label>
                            <div class="input-group input-large col-sm-4">
                                <input id="enterTimeStart" name="organCoursePo.enterTimeStart" type="text"
                                       required="true" class="form-control laydate"
                                       th:value="${#dates.format(organCoursePo.enterTimeStart,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enterTimeEnd">报名结束时间 </label>
                            <div class="input-group input-large col-sm-4">
                                <input id="enterTimeEnd" name="organCoursePo.enterTimeEnd" type="text" required="true"
                                       class="form-control laydate"
                                       th:value="${#dates.format(organCoursePo.enterTimeEnd,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </section>
                    <h3>创建班次</h3>
                    <section style="position: static">
                        <a class="btn btn-success" type="button" onclick="createClassBox()"><i
                                class="glyphicon glyphicon-plus"></i> 添加班次</a>
                        <div class="panel-group" id="accordion">

                        </div>
                    </section>
                    <h3>选择标签</h3>
                    <section style="position: static">
                        <div id="constantTagBox" class="col-sm-12">

                        </div>
                        <div class="col-sm-12" style="display: none"><label>标签名</label></div>

                        <div class="col-sm-3" style="display: none">
                            <input id="createTag" name="" type="text" class=" form-control ">
                        </div>
                        <div class="col-sm-3" style="display: none">
                            <button class="btn btn-primary " type="button" onclick="createTagBox()">创 建</button>
                        </div>

                        <div id="createTagBox"  class="col-sm-12" style="margin-top: 20px">

                        </div>
                    </section>
                    <!--<h3>Finish</h3>-->
                    <!--<section style="position: static">-->
                        <!--<input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label-->
                            <!--for="acceptTerms">I agree with the Terms and Conditions.</label>-->
                    <!--</section>-->
                </div>
            </form>


        </div>
    </div>

</div>
<script type="text/template" id='classCatalogTmpl'>
    <div name="organClassCatalogPos" style="padding: 40px 0px;">
        <div name="" class="form-group col-sm-5">
            <label class="col-sm-4 control-label" style="text-align: right;padding: 8px">课时</label>
            <div class=" col-sm-8">
                <input name="id" type="hidden" value=${id}>
                <input name="catalogTitle" class="form-control" value="${catalogTitle}"/>
                <input name="catalogIndex" type="hidden" value=${len}>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" style="text-align: right;padding: 8px">开始时间</label>
            <div class=" col-sm-8">
                <input name="startTime" class="form-control laydateer" value="${startTime}"/>
            </div>
        </div>
        <a style="float:right" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                aria-hidden="true"
                                                                onclick="removeClassCatalogBox(this)"></span></a>
        <div class="form-group col-sm-11">
            <label class="col-sm-2 control-label" style="text-align: right;padding: 8px">目录描述</label>
            <div class="col-sm-10">
                <textarea name="catalogDesc" class="form-control">${catalogDesc}</textarea>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id='constantTagTmpl'>
    <div class="col-sm-2">
        <input name="tagName"  type="hidden" value=${tagName}>
        <input type="checkbox" name="id" value="${id}">
        <input name="ognFlag" type="hidden" value="${ognFlag}" >
        <span class="label" >${tagName}</span>
    </div>
</script>
<script type="text/template" id='ognTagTmpl'>
    <div class="col-sm-2">
        <input name="id" type="hidden" value=${id} >
        <input name="tagName" type="hidden" value=${label}>
        <input name="ognFlag" value=true type="hidden">
        <span class="label">${label}</span>
        <a href="javascript:void(0);" onclick="removeTag(this)"><span class="glyphicon glyphicon-remove"
                                                                      aria-hidden="true"></span></a>
    </div>
</script>
<script type="text/template" id='classTmpl'>
    <div name="organClassBosBox"  class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a name="boxTitle" data-toggle="collapse" data-parent="#accordion" href=${href}>${className}</a>
                <a style="float:right" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                        aria-hidden="true"
                                                                        onclick="removeClassBox(this)"></span></a>
            </h5>
        </div>
        <div id=${collapse} class="panel-collapse collapse in">
            <div class="panel-body " >
                <div name="organClassBos" class="form-group col-sm-4" >
                    <input name="id" type="hidden" value="${id}">
                    <label>班次名称 *</label>
                    <input name="className" type="text"  class=" form-control " value="${className}"
                           onblur="setClassBoxTitle(this)">
                    <label>课程负责人 *</label>
                    <select name="ognAccountId" type="text"  class=" form-control ">

                    </select>
                    <label>价格 *</label>
                    <div class="input-group input-large">
                        <input name="classPrize" type="text"  class=" form-control " value="${classPrize}" >
                        <span class="input-group-addon">元</span>
                    </div>
                    <label>折扣优惠 *</label>
                    <div class="input-group input-large">
                        <input name="discountAmount" type="text"  class=" form-control " value="${discountAmount}" >
                        <span class="input-group-addon">%</span>
                    </div>
                    <label>是否限制报名人数 *</label>
                    <select name="enterLimitFlag" type="text"  class=" form-control " value="${enterLimitFlag}">
                        <option value=true>是</option>
                        <option value=false>否</option>
                    </select>
                    <label>要求报名人数 *</label>
                    <input name="enterRequireNum" type="text" class=" form-control " value="${enterRequireNum}">
                    <label>总计课时 *</label>
                    <input name="courseNum" type="Number" class=" form-control " value="${courseNum}" readonly=true>
                </div>
                <div name="organClassCatalogPosBox" class="form-group col-sm-8 well">
                    <a class="btn btn-success" type="button" onclick="addClassCatalogBox(this)"><i
                            class="glyphicon glyphicon-plus"></i> 添加课时</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/staps/jquery.steps.min.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.tmpl.min.js}"></script>
<!--<script th:src="@{/js/plugins/layer/laydate/laydate.js}"></script>-->
<script th:src="@{/js/laydate/laydate.js}"></script>
<script th:inline="javascript">
    function timestamp2date(timestamp) {
        return timestamp.substring(0, 18)
    }

    //教师map
    var organAccountMap = [[${organAccountMap}]]
    //表单是否提交过
    var isFrmSubmit=false

    /**
     * 新增班次课时目录
     * @param ele
     */
    function addClassCatalogBox(ele) {
        var len = $(ele).parent().find("div[name='organClassCatalogPos']").length
        var $box=$(ele).parent()
        var catalog = [{catalogTitle: "课时" + (len + 1), len: len + 1}]

        $box.append($("#classCatalogTmpl").tmpl(catalog))
        $(ele).parent().parent().find("input[name='courseNum']").eq(0).val(len+1)

        lay('.laydateer').each(function () {
            laydate.render({
                type: 'datetime',
                elem: this,
                trigger: 'click'
            });
        });
    }

    /**
     * 删除课时
     */
    function removeClassCatalogBox(ele) {
        var len = $(ele).parent().parent().parent().find("div[name='organClassCatalogPos']").length
        if(len==1){
            return
        }else{
            console.log($(ele).parents("div[name='organClassBosBox']").find("input[name='courseNum']").eq(0).val(len-1))
            $(ele).parent().parent().remove()
        }
    }

    /**
     * 改变课程类目获得公用标签
     * @param ele
     */
    function changeGetTags(ele) {
        $("#constantTagBox").html("")
        $.ajax({
            type: "GET",
            url: "/auth/organCourse/findTagsByCatalog/" + $(ele).val(),
            success: function (data) {
                if (data.success) {
                    var res = data.result.ognTagList
                    var constantTag = []
                    for (item in res) {
//                        background-color#f8ac59
                        constantTag.push({id: res[item].id, tagName: res[item].tagName,ognFlag:res[item].ognFlag})
                    }
//                    console.log(constantTag)
                    $("#constantTagBox").html($("#constantTagTmpl").tmpl(constantTag));
                }
            }
        })
    }

    /**
     * 删除标签
     * @param ele
     */
    function removeTag(ele) {
        $(ele).parent().remove();
    }

    /**
     * 新增课程标签
     */
    function createTagBox() {
        var label = $('#createTag').val()
        if (label == "" || label == undefined) {
            return
        }
        var tag = [{id:"",label: label}]
        $("#createTagBox").append($("#ognTagTmpl").tmpl(tag));
    }
    /**
     * 增加班次
     */
    function createClassBox() {
//        console.log($("#accordion").find("div[name='organClassBos']").length)
        var len = $("#accordion").find("div[name='organClassBosBox']").length

        var classes = [{href: "#collapse" + (len + 1), collapse: "collapse" + (len + 1),className:"班次",discountAmount:0,classPrize:0}]
        $("#accordion").append($("#classTmpl").tmpl(classes));
//        console.log($("#accordion").find("div[name='organClassBos']:last-child").find("select[name='ognAccountId']"))
        var htmls = '<option value="">请选择</option>';
        for (key in organAccountMap) {
            htmls = htmls + "<option value='" + key + "'>" + organAccountMap[key] + "</option>"
        }
        $("#accordion").find("div[name='organClassBosBox']:last-child").find("select[name='ognAccountId']").eq(0).html(htmls);
    }
    /**
     * 删除班次
     * @param ele
     */
    function removeClassBox(ele) {
        $(ele).parents("div[name='organClassBosBox']").remove();
    }
    /**
     * 设置班次名称
     * @param ele
     */
    function setClassBoxTitle(ele) {
        $(ele).parents("div[name='organClassBosBox']").find("a[name='boxTitle']").text($(ele).val())
    }
    $(document).ready(function () {

        //jq.step start
        var form = $("#frm");
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },

        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
//                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
//                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onCanceled: function () {
                window.location.href = "/auth/organCourse/merchantIndex"

            },
            onFinished: function (event, currentIndex) {
                if(!isFrmSubmit){
                    var $organClassBos=$("#accordion").find("div[name='organClassBos']")
                    for(var i=0;i<$organClassBos.length;i++){
                        $organClassBos.eq(i).attr("name","organClassBos["+i+"]")
                        $organClassBos.eq(i).find("input").each(function () {
                            var oldName=$(this).attr("name")
                            $(this).attr("name",$organClassBos.eq(i).attr("name")+"."+oldName)
                        })
                        $organClassBos.eq(i).find("select").each(function () {
                            var oldName=$(this).attr("name")
                            $(this).attr("name",$organClassBos.eq(i).attr("name")+"."+oldName)
                        })
                    }

                    var $organClassCatalogPosBox = $("#accordion").find("div[name='organClassCatalogPosBox']")
                    for (var j = 0; j < $organClassCatalogPosBox.length; j++) {
//                        console.log($organClassCatalogPosBox.eq(j))
                        var $organClassCatalogPos = $organClassCatalogPosBox.eq(j).find("div[name='organClassCatalogPos']")
//                        console.log($organClassCatalogPos)
                        for (var i = 0; i < $organClassCatalogPos.length; i++) {
                            var parentName = $organClassCatalogPos.eq(i).parent().siblings("div[name^='organClassBos']").eq(0).attr("name")
                            $organClassCatalogPos.eq(i).attr("name", parentName + ".organClassCatalogPos[" + i + "]")
                            $organClassCatalogPos.eq(i).find("input,textarea").each(function () {
                                if ($(this).attr("name") == "catalogIndex") {
                                    $(this).val(i+1)
                                }
                                var oldName=$(this).attr("name")
                                $(this).attr("name", $organClassCatalogPos.eq(i).attr("name") + "." + oldName)
                            })
                        }
                    }

                    var $constantTags=$("#constantTagBox").find("div")
                    var $ognTags=$("#createTagBox").find("div")
                    var tagCount=0
                    for(var i=0;i<$constantTags.length;i++){
                        if($constantTags.eq(i).find("input[type='checkbox']").length>0
                            &&!$constantTags.eq(i).find("input[type='checkbox']").eq(0).is(':checked')){
                            $constantTags.eq(i).find("input").each(function () {
                                $(this).attr("name","")
                            })
                        }else{
                            $constantTags.eq(i).find("input").each(function () {
                                var oldName= $(this).attr("name");
                                $(this).attr("name","constantTagPos["+tagCount+"]."+oldName)
                            })
                            tagCount++;
                        }
                    }
                    for(var i=0;i<$ognTags.length;i++){
                        $ognTags.eq(i).find("input").each(function () {
                            var oldName= $(this).attr("name");
                            $(this).attr("name","constantTagPos["+(i+tagCount)+"]."+oldName)
                        })
                    }

                    isFrmSubmit=true
                }

                var url="/auth/organCourse/merchantCreate"
                if($("#courseId").val()){
                    url="/auth/organCourse/merchantUpdate"
                }

                if (!$("#enterTimeEnd").val()) {
                    $("#enterTimeEnd").attr("name", "")
                }
                $.ajax({
                    type: "POST",
                    data: $("#frm").serialize(),
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr_success(null,"/auth/organCourse/merchantIndex")
                        }
                        $("#enterTimeEnd").attr("name", "organCoursePo.enterTimeEnd")

                    }
                })
            }
        });
        //jq.step end

        //修改页面初始化start

        //修改页面初始化end
        if([[${organCoursePo.id}]]){
            //班次start
//            console.log([[${organClassBos}]])
            var organClassBos=[[${organClassBos}]]
//            console.log("length="+organClassBos.length)
            for(var i=0;i<organClassBos.length;i++){
                var len = $("#accordion").find("div[name='organClassBosBox']").length
                var classes = [{id:organClassBos[i].id,href:"#collapse" + (len + 1), collapse: "collapse" + (len + 1),
                    className:organClassBos[i].className,classPrize:organClassBos[i].classPrize,
                    discountAmount:organClassBos[i].discountAmount,enterLimitFlag:organClassBos[i].enterLimitFlag,
                    enterRequireNum:organClassBos[i].enterRequireNum,courseNum:organClassBos[i].courseNum}]
                $("#accordion").append($("#classTmpl").tmpl(classes));

                var htmls = '<option value="">请选择</option>';
                for (key in organAccountMap) {
                    if(key==organClassBos[i].ognAccountId){
                        htmls = htmls + "<option selected value='" + key + "'>" + organAccountMap[key] + "</option>"
                    }else{
                        htmls = htmls + "<option value='" + key + "'>" + organAccountMap[key] + "</option>"
                    }
                }
                $("#accordion").find("div[name='organClassBosBox']:last").find("select[name='ognAccountId']").eq(0).html(htmls);
                var organClassCatalogPos = organClassBos[i].organClassCatalogPos
//                console.log(organClassCatalogPos)

                var $box = $("#accordion").find("div[name='organClassCatalogPosBox']:last")
//                console.log("$box")
//                console.log($box)
                var catalog=[]
                for (var j = 0; j < organClassCatalogPos.length; j++) {
                    catalog.push({
                        id: organClassCatalogPos[j].id,
                        len: j + 1,
                        startTime: new Date(organClassCatalogPos[j].startTime).Format('yyyy-MM-dd HH:mm:ss'),
                        catalogTitle: organClassCatalogPos[j].catalogTitle,
                        catalogDesc: organClassCatalogPos[j].catalogDesc
                    })
                }
                $box.append($("#classCatalogTmpl").tmpl(catalog))
            }
            $("#accordion").find("select[name='enterLimitFlag']").each(function () {
                var val=$(this).attr("value")
                $(this).val(val)
            })
            $("#accordion").find("div[id^='collapse']").removeClass("in");//选项卡折叠

            //班次end
            //公用标签start
            var ognTagList=[[${ognTagList}]]
            console.log(ognTagList)
            var constantTag = []
            for (item in ognTagList) {
//                        background-color#f8ac59
                constantTag.push({id: ognTagList[item].id, tagName: ognTagList[item].tagName,ognFlag:ognTagList[item].ognFlag})
            }
            $("#constantTagBox").html($("#constantTagTmpl").tmpl(constantTag));
            //公用标签end
            //课程标签start
            var organCourseTagBos=[[${organCourseTagBos}]]
            for(item in organCourseTagBos){
                $("#constantTagBox").find("input[name='id']").each(function () {
                    if($(this).val()==organCourseTagBos[item].tagId){
                        $(this).attr("checked",true)
                    }
                })
//                if(organCourseTagBos[item].ognFlag){
//                    var tag = [{id:organCourseTagBos[item].tagId,label: organCourseTagBos[item].tagName}]
//                    $("#createTagBox").append($("#ognTagTmpl").tmpl(tag));
//                }else{
//                    $("#constantTagBox").find("input[name='id']").each(function () {
//                        if($(this).val()==organCourseTagBos[item].tagId){
//                            $(this).attr("checked",true)
//                        }
//                    })
//                }
            }
            //课程标签end

        }

        laydate.render({
            elem: '#onlineTime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeStart',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeEnd',
            type: 'datetime'
        });
        lay('.laydateer').each(function () {
            laydate.render({
                type: 'datetime',
                elem: this,
                trigger: 'click'
            });
        });
    });


</script>
</body>
</html>