<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_header}">
</head>
<header>
    <th:block layout:fragment="links">
        <link th:href="@{/umeditor/themes/default/css/umeditor.css}" rel="stylesheet">
    </th:block>
    <style>
        .course-label {
            font-size: 20px;
            font-weight: bold
        }
    </style>
</header>
<body class="gray-bg">
<div class="col-sm-11 ">
    <div style="padding-left: 40px" class="row ">
        <input id="ognPhone" th:value="${ognPhone}" type="hidden">
        <input id="ognLng" th:value="${ognLng}" type="hidden">
        <input id="ognLat" th:value="${ognLat}" type="hidden">
        <input id="ognAddress" th:value="${ognAddress}" type="hidden">
        <form id="frm">
            <div class="col-sm-12 ">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">产品详情（<span class="required-sign">*为必填</span>）</label>
                        <a style="display: inline-block;float: right" class="btn btn-xs btn-danger"
                           href="javascript:void(0)" onclick="history.back()">返回</a>

                    </div>
                    <div class="ibox-content" style="">
                        <div class="row" th:object="${organCoursePo}">
                            <div class="col-sm-6">
                                <input id="courseId" name="organCoursePo.id" type="hidden"
                                       th:value="${organCoursePo.id}">
                                <input id="ognId" type="hidden" th:value="${organCoursePo.ognId}">
                                <div class="form-group ">
                                    <label for="courseName">产品名称 <span class="required-sign">*</span></label>
                                    <input id="courseName" name="organCoursePo.courseName" type="text"
                                           th:value="${organCoursePo.courseName}"
                                           required="true" aria-required="true" class=" form-control">
                                </div>
                                <div class="form-group">
                                    <label for="courseType">产品类型 <span class="required-sign">*</span></label>
                                    <select id="courseType" name="organCoursePo.courseType" type="text"
                                            required="true"
                                            class=" form-control ">
                                        <option value="">请选择</option>
                                        <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpOrganCourseCourseType).values()}"
                                                th:selected="${#strings.equals(organCoursePo.courseType,state)}"
                                                th:value="${state}"
                                                th:text="#{EpOrganCourseCourseType.+${state.literal}}">
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="courseCatalogId">产品所属目录 <span class="required-sign">*</span></label>
                                    <select id="courseCatalogId" name="organCoursePo.courseCatalogId" type="text"
                                            required="true"
                                            class="form-control" onchange="changeGetTags(this)">
                                        <option value="">请选择</option>
                                        <option th:each="state : ${constantCatalogMap.keySet()}"
                                                th:selected="${#strings.equals(organCoursePo.courseCatalogId,state)}"
                                                th:value="${state}"
                                                th:text="${constantCatalogMap.get(state)}">
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="courseIntroduce">产品简介 </label>
                                    <textarea id="courseIntroduce" name="organCoursePo.courseIntroduce" type="text"
                                              style="height:80px"
                                              placeholder="最多输入20个字" maxlength="20"
                                              class="form-control"
                                              th:text="${organCoursePo.courseIntroduce}"></textarea>

                                </div>

                                <div class="form-group">
                                    <label for="onlineTime">上线时间 <span class="required-sign">*</span></label>
                                    <input id="onlineTime" name="organCoursePo.onlineTime" type="text"
                                           required="true" class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.onlineTime,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group">
                                    <label for="enterTimeStart">报名开始时间 <span class="required-sign">*</span></label>
                                    <input id="enterTimeStart" name="organCoursePo.enterTimeStart" type="text"
                                           required="true" class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.enterTimeStart,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group">
                                    <label for="enterTimeEnd">报名结束时间 </label>
                                    <input id="enterTimeEnd" name="organCoursePo.enterTimeEnd" type="text"
                                           class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.enterTimeEnd,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group" th:if="${organVipFlag}">
                                    <label for="vipFlag">是否<span th:text="${organVipName}"></span>才能报名 <span
                                            class="required-sign">*</span></label>
                                    <select id="vipFlag" name="organCoursePo.vipFlag" type="text"
                                            required="true" class="form-control" th:value="${organCoursePo.vipFlag}">
                                        <option th:selected="${organCoursePo.vipFlag==true}" value=true>是</option>
                                        <option th:selected="${organCoursePo.vipFlag==false}" value=false>否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label>产品内容 <span class="required-sign">*</span></label>
                                <div id="umeditor" name="content" style="height:350px">
                                    <p>请填写您的产品内容</p>
                                </div>


                                <div id="editor">
                                </div>
                                <input id="courseContent" name="organCoursePo.courseContent" type="hidden"
                                       th:value="${organCoursePo.courseContent}">
                                <div id="preCodeBox"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" th:if="${supportTag}">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">选择标签（<span class="required-sign">不超过6个</span>）
                            <span style="float:right;margin-top: 5px" class="label constant-tag">公用标签</span>
                            <span style="float:right;margin-top: 5px" class="label ogn-tag">私有标签</span>
                        </label>
                    </div>
                    <div class="ibox-content">
                        <div id="tagBox" style="background: #eee;min-height: 250px;padding: 20px 0px">
                            <div id="constantTagBox" class="col-sm-12">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">设置图片（<span class="required-sign">必需</span>)</label>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2">宣传图
                                    <soan class="required-sign">*</soan>
                                </label>
                                <button type="button" class="btn btn-info mainpic_url" id="mainpic_img_btn"
                                        onclick="$('#mainpic_img').click()">
                                    <span>选择图片</span>
                                </button>
                                <input style="display:none" id="mainpic_img" type="file"
                                       onchange="uploadMainpicImg($('#mainpic_img_btn'),this)"/>
                            </div>
                            <div class="col-sm-offset-2 course-mainpic-box">
                                <img id="mainpic_img_url" class="course-mainpic-img-url" th:src="${mainpicImgUrl}"/>
                                <input type="hidden" name="mainpic_url" id="mainpic_url" class="required">
                                <input type="hidden" name="mainpicUrlPreCode" id="mainpic_url_preCode">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">产品班次（<span class="required-sign">*为必填</span>）</label>
                    </div>
                    <div class="ibox-content">
                        <a class="btn btn-success" type="button" onclick="createClassBox()"><i
                                class="glyphicon glyphicon-plus"></i> 添加班次</a>
                        <div class="panel-group" id="accordion">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 col-sm-offset-2" style="margin-top: 20px">
                            <button style="width:150px" class="btn-lg btn btn-primary" type="button"
                                    onclick="frmSubmit()">提 交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script type="text/template" id='classCatalogTmpl'>
    <div name="organClassCatalogPos" class="organClassCatalogPos" style="display:inline-block;margin:5px 0px">
        <div name="" class="col-sm-5 form-group">
            <label>课时<span class="required-sign">*</span></label>
            <input name="id" type="hidden" jprop="id" value=${id}>
            <input name="catalogTitle" jprop="catalogTitle" class="form-control " value="${catalogTitle}"
                   required="true"/>
            <input name="catalogIndex" jprop="catalogIndex" type="hidden" value=${len}>
        </div>
        <div class="col-sm-5 form-group">
            <label>开始时间<span class="required-sign">*</span></label>
            <input name="startTime" jprop="startTime" class="form-control laydateer " value="${startTime}"
                   required="true"/>
        </div>
        <a style="float:right;display:inline-block;margin-left:10px" href="javascript:void(0);"><span
                class="glyphicon glyphicon-remove"
                aria-hidden="true"
                onclick="removeClassCatalogBox(this)"></span></a>
        <a name="insertCatalogBtn" style="float:right;" href="javascript:void(0);"><span
                onclick="insertbeforeClassCatalogBox(this)">插入</span></a>
        <div class="col-sm-5 form-group">
            <label>持续时长（分钟）<span class="required-sign">*</span></label>
            <input name="duration" jprop="duration" class="form-control " value="${duration}" required="true">

        </div>
        <div class="col-sm-10 form-group">
            <label>目录描述<span class="required-sign">*</span></label>
            <textarea name="catalogDesc" jprop="catalogDesc" class="form-control "
                      required="true">${catalogDesc}</textarea>
        </div>
    </div>
</script>
<script type="text/template" id='constantTagTmpl'>
    <div class="col-sm-2 constantTagPos" style="margin-bottom: 10px">
        <input name="tagName" jprop="tagName" type="hidden" value=${tagName}>
        <input type="checkbox" name="id" jprop="id" onclick="taglt6(this)" value="${id}">
        <input name="ognFlag" type="hidden" jprop="ognFlag" value=false>
        <span class="label constant-tag">${tagName}</span>
    </div>
</script>
<script type="text/template" id='ognTagTmpl'>
    <div class="col-sm-2 constantTagPos" style="margin-bottom: 10px">
        <input type="checkbox" name="id" jprop="id" onclick="taglt6(this)" value="${id}">
        <input name="tagName" jprop="tagName" type="hidden" value=${tagName}>
        <input name="ognFlag" jprop="ognFlag" value=true type="hidden">
        <span class="label ogn-tag">${tagName}</span>
    </div>
</script>
<script type="text/template" id='classTmpl'>
    <div name="organClassBosBox" class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a name="boxTitle" data-toggle="collapse" data-parent="#accordion" href=${href}>${className}</a>
                <a style="float:right" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                        aria-hidden="true"
                                                                        onclick="removeClassBox(this)"></span></a>
            </h5>
        </div>
        <div id=${collapse} class="panel-collapse collapse in">
            <div class="panel-body ">
                <div name="organClassBos" class=" organClassBos">
                    <div class="col-sm-4">
                        <input name="id" type="hidden" value="${id}">
                        <div class="form-group">
                            <label>班次名称 <span class="required-sign">*</span></label>
                            <input name="className" jprop="className" type="text" class=" form-control "
                                   value="${className}"
                                   required="true"
                                   onblur="setClassBoxTitle(this)">
                        </div>
                        <div class="form-group">
                            <label>产品负责人 <span class="required-sign">*</span></label>
                            <select name="ognAccountId" jprop="ognAccountId" type="text" class=" form-control "
                                    required="true">

                            </select>
                        </div>
                        <div class="form-group">
                            <label>价格(元) <span class="required-sign">*</span></label>
                            <input name="classPrize" jprop="classPrize" type="text" class=" form-control number-input"
                                   value="${classPrize}">
                        </div>
                        <div class="form-group">
                            <label>折扣优惠(元) <span class="required-sign">*</span></label>
                            <input name="discountAmount" jprop="discountAmount" type="text"
                                   class=" form-control number-input"
                                   value="${discountAmount}">
                        </div>

                        <div class="form-group">
                            <label>是否限制报名人数 <span class="required-sign">*</span></label>
                            <select name="enterLimitFlag" jprop="enterLimitFlag" type="text" class=" form-control "
                                    value="${enterLimitFlag}">
                                <option value=false>否</option>
                                <option value=true>是</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>要求报名人数 </label>
                            <input name="enterRequireNum" jprop="enterRequireNum" type="text" class="form-control"
                                   value="${enterRequireNum}"
                                   readonly="true">
                        </div>

                        <div class="form-group">
                            <label>联系电话 <span class="required-sign">*</span></label>
                            <input name="phone" jprop="phone" type="text" class="form-control" required="true"
                                   value="${phone}">
                        </div>

                        <div class="form-group">
                            <label>上课地址 <span class="required-sign">*</span></label>
                            <input name="address" jprop="address" type="text" class="form-control" required="true"
                                   value="${address}">
                        </div>

                        <div class="form-group">
                            <label>经度 <span class="required-sign">*</span></label>
                            <input name="addressLng" jprop="addressLng" type="text" class="form-control digit"
                                   required="true"
                                   value="${addressLng}">
                        </div>

                        <div class="form-group">
                            <label>纬度 <span class="required-sign">*</span></label>
                            <input name="addressLat" jprop="addressLat" type="text" class="form-control digit"
                                   required="true"
                                   value="${addressLat}">
                        </div>

                        <div class="form-group">
                            <label>总计课时 <span class="required-sign">*</span></label>
                            <input name="courseNum" jprop="courseNum" type="Number" class=" form-control "
                                   value="${courseNum}"
                                   readonly=true>
                        </div>
                    </div>
                    <div name="organClassCatalogPosBox" class="form-group col-sm-8 well ">
                        <a class="btn btn-success" type="button" onclick="addClassCatalogBox(this)"><i
                                class="glyphicon glyphicon-plus"></i> 添加课时</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</script>

<script th:replace="~{fragments/scripts}"></script>
<!--<script th:src="@{/js/plugins/staps/jquery.steps.min.js}"></script>-->

<!--<script th:src="@{/wangeditor/wangEditor.js}"></script>-->
<script th:src="@{/umeditor/umeditor.config.js}"></script>
<script th:src="@{/umeditor/umeditor.js}"></script>
<script th:src="@{/umeditor/lang/zh-cn/zh-cn.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>

<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.tmpl.min.js}"></script>
<script th:src="@{/js/laydate/laydate.js}"></script>
<script th:inline="javascript">

    var um = UM.getEditor('umeditor', {imageUrl: "/auth/organCourse/uploadCourseDescPic",});


    //wangEditor富文本
    //    var E = window.wangEditor
    //    var editor = new E('#editor')

    //教师map
    var organAccountMap = [[${organAccountMap}]]

    /* 上传宣传图
     */
    function uploadMainpicImg($btn, ele) {
        $btn.attr("disabled", true)

        data = new FormData();
        data.append("file", $("#mainpic_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/organCourse/uploadMainpic",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    $("#mainpic_img_url").attr("src", data.result.fileUrl)
                    $("#mainpic_url").val(data.result.fileUrl)
                    $("#mainpic_url_preCode").val(data.result.preCode)
                    $("#pic-error").remove()
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                $(ele).attr("value", null);
                $btn.attr("disabled", false)
            }
        })
    }
    function insertbeforeClassCatalogBox(ele) {
        $(ele).parents(".organClassCatalogPos").eq(0).before($("#classCatalogTmpl").tmpl([{
            catalogTitle: "课时",
        }]))
        var len = $(ele).parents("div[name='organClassCatalogPosBox']").eq(0).find(".organClassCatalogPos").length
        $(ele).parents(".organClassBos").eq(0).find("input[name='courseNum']").eq(0).val(len)
        $(ele).parents(".organClassCatalogPos").eq(0).prev(".organClassCatalogPos").find(".laydateer").each(function () {
            laydate.render({
                type: 'datetime',
                elem: this,
                trigger: 'click'
            });
        })
    }



    /* 新增班次课时目录
     */
    function addClassCatalogBox(ele) {
        var len = $(ele).parents("div[name='organClassCatalogPosBox']").eq(0).find(".organClassCatalogPos").length
        var $box = $(ele).parents("div[name='organClassCatalogPosBox']").eq(0)
        var catalog = [{catalogTitle: "课时" + (len + 1), len: len + 1}]

        $box.append($("#classCatalogTmpl").tmpl(catalog))
        $(ele).parents(".organClassBos").eq(0).find("input[name='courseNum']").eq(0).val(len + 1)

        $box.find(".organClassCatalogPos:last").find(".laydateer").each(function () {
            laydate.render({
                type: 'datetime',

                elem: this,
                trigger: 'click'
            });
        });

    }

    /* 删除课时
     */
    function removeClassCatalogBox(ele) {
        var len = $(ele).parents("div[name='organClassCatalogPosBox']").eq(0).find(".organClassCatalogPos").length
        var $box = $(ele).parents(".organClassBos").eq(0)
        if (len == 1) {
            return
        } else {
            $(ele).parents(".organClassCatalogPos").eq(0).remove()
            var lenRes = $box.find(".organClassCatalogPos").length
            $box.find("input[name='courseNum']").eq(0).val(lenRes)
        }
    }

    /* 改变产品类目获得公用标签*/
    function changeGetTags(ele) {
        $("#constantTagBox").html("")
        $.ajax({
            type: "GET",
            url: "/auth/organCourse/findTagsByCatalog/" + $(ele).val(),
            success: function (data) {
                if (data.success) {
                    var res = data.result
                    var constantTag = []
                    var ognTag = []
                    for (item in res) {
                        if (res[item].ognFlag) {
                            ognTag.push({id: res[item].id, tagName: res[item].tagName, ognFlag: res[item].ognFlag})
                        } else {
                            constantTag.push({id: res[item].id, tagName: res[item].tagName, ognFlag: res[item].ognFlag})
                        }
                    }
                    $("#constantTagBox").append($("#ognTagTmpl").tmpl(ognTag));
                    $("#constantTagBox").append($("#constantTagTmpl").tmpl(constantTag));
                }
            }
        })
    }

    /*勾选标签不超过6个*/
    function taglt6(ele) {
        var len = $("#tagBox").find("input[type='checkbox']:checked").length
        if (len > 6) {
            if ($(ele).is(":checked")) {
                $(ele).attr("checked", false)
                toastr.error("标签不得超过6个!")
            }
        }
    }
    /* 增加班次
     */
    function createClassBox() {
        var len = $("#accordion").find("div[name='organClassBosBox']").length

        var classes = [{
            href: "#collapse" + (len + 1),
            collapse: "collapse" + (len + 1),
            className: "班次",
            discountAmount: 0,
            classPrize: 0,
            phone: $("#ognPhone").val(),
            addressLng: $("#ognLng").val(),
            addressLat: $("#ognLat").val(),
            address: $("#ognAddress").val()
        }]
        $("#accordion").append($("#classTmpl").tmpl(classes));
        var htmls = '';
        for (key in organAccountMap) {
            htmls = htmls + "<option value='" + key + "'>" + organAccountMap[key] + "</option>"
        }
        $("#accordion").find("div[name='organClassBosBox']:last-child").find("select[name='ognAccountId']").eq(0).html(htmls);
        bindNumberInput($("#accordion"))

        classBoxDynamicInitLast()
    }

    function classBoxDynamicInitLast() {
        //是否限制报名人数 框绑定事件
        $("#accordion").find("select[name='enterLimitFlag']:last").on("change", function () {
            var $enterRequireNum = $(this).parents("div.organClassBos").eq(0).find("input[name='enterRequireNum']").eq(0)
            if ($(this).val() == "false") {
                $enterRequireNum.attr("readonly", true)
            } else {
                $enterRequireNum.removeAttr("readonly").attr("required", true)
            }
        })

        $("#accordion").find(".organClassBos:last").find("input.digit").on("blur", function () {
            $(this).val(parseFloat($(this).val()))
        })
    }
    function classBoxDynamicInitAll() {
        //是否限制报名人数 框绑定事件
        $("#accordion").find("select[name='enterLimitFlag']").on("change", function () {
            var $enterRequireNum = $(this).parents("div.organClassBos").eq(0).find("input[name='enterRequireNum']").eq(0)
            if ($(this).val() == "false") {
                $enterRequireNum.attr("readonly", true)
            } else {
                $enterRequireNum.removeAttr("readonly").attr("required", true)
            }
        })

        $("#accordion").find(".organClassBos").find("input.digit").on("blur", function () {
            $(this).val(parseFloat($(this).val()))
        })
    }
    /*删除班次
     */
    function removeClassBox(ele) {
        $(ele).parents("div[name='organClassBosBox']").remove();
    }
    /* 设置班次名称
     */
    function setClassBoxTitle(ele) {
        $(ele).parents("div[name='organClassBosBox']").find("a[name='boxTitle']").text($(ele).val())
    }

    function beforeValidAbledOrganClassCatalogPos() {
        $("div[name='organClassCatalogPos']").find("input[name='startTime']").each(function () {
            $(this).attr("disabled", false);

        })
    }

    function beforeSubmitFormatDateInputName() {
        if (!$("#enterTimeEnd").val()) {
            $("#enterTimeEnd").attr("name", "")
        }
//        $("#accordion").find("input.endTime").each(function () {
//            if (!$(this).val()) {
//                $(this).attr("name", "")
//            }
//        })
    }

    function beforeSubmitFormatInputInnerName() {
        var $organClassBos = $("div.organClassBos")
        for (var i = 0; i < $organClassBos.length; i++) {
            $organClassBos.eq(i).attr("name", "organClassBos[" + i + "]")
            $organClassBos.eq(i).find("input,select").each(function () {
                $(this).attr("name", $organClassBos.eq(i).attr("name") + "." + $(this).attr("jprop"))
            })

            var $organClassCatalogPos = $organClassBos.eq(i).find("div.organClassCatalogPos")
            for (var j = 0; j < $organClassCatalogPos.length; j++) {
                var parentName = $organClassCatalogPos.eq(j).parents("div.organClassBos").eq(0).attr("name")
                $organClassCatalogPos.eq(j).attr("name", parentName + ".organClassCatalogPos[" + j + "]")
                $organClassCatalogPos.eq(j).find("input,textarea").each(function () {
                    if ($(this).attr("name") == "catalogIndex") {
                        $(this).val(j + 1)
                    }
                    $(this).attr("name", $organClassCatalogPos.eq(j).attr("name") + "." + $(this).attr("jprop"))
                })
            }
        }


        var $constantTags = $("div.constantTagPos")
        var tagCount = 0
        for (var i = 0; i < $constantTags.length; i++) {
            if ($constantTags.eq(i).find("input[type='checkbox']").length > 0
                && !$constantTags.eq(i).find("input[type='checkbox']").eq(0).is(':checked')) {
                $constantTags.eq(i).find("input").each(function () {
                    $(this).attr("name", "")
                })
            } else {
                $constantTags.eq(i).find("input").each(function () {
                    $(this).attr("name", "constantTagPos[" + tagCount + "]." + $(this).attr("jprop"))
                })
                tagCount++;
            }
        }
    }

    function resetFrmDateInputName() {
        if (!$("#enterTimeEnd").attr("name")) {
            $("#enterTimeEnd").attr("name", "organCoursePo.enterTimeEnd")
        }
//        $("#accordion").find("input.endTime").each(function () {
//            if (!$(this).attr("name")) {
//                $(this).attr("name", "endTime")
//            }
//        })
    }

    function beforeSubmitCheckCourseDescPic() {
        var $imgArray = $("#umeditor").find("img")
        var $preCodes = $("#preCodeBox")
        for (var i = 0; i < $imgArray.length; i++) {
//            var preCode = $imgArray.eq(i).attr("precode")
            var preCode = $imgArray.eq(i).attr("_src")
            var htmls = '<input type="hidden" name="courseDescPicPreCodes" value="' + preCode + '">'
            $preCodes.append(htmls)
        }
    }

    function beforeSubmitClassRequiredCatalog() {
        var flag = true
        var $box = $("div[name='organClassCatalogPosBox']")
        for (var i = 0; i < $box.length; i++) {
            if ($box.eq(i).find("div.organClassCatalogPos").length == 0) {
                flag = false
            }
            if (!flag) {
                break
            }
        }
        return flag
    }

    function beforeSubmitCheckCourseMainPic() {
        if ($("#courseId").val()) {
            if (!$("#mainpic_img_url").attr("src")) {
                return checkFormCreateImgRequired([{eleId: "mainpic_url", msg: "请上传宣传图"}])
            } else {
                return true
            }
        } else {
            return checkFormCreateImgRequired([{eleId: "mainpic_url", msg: "请上传宣传图"}])
        }

    }

    function beforeSubmitCourseContent(content) {
        $("#courseContent").val(content)
    }

    function frmSubmit() {
        beforeValidAbledOrganClassCatalogPos()

        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }

        resetFrmDateInputName()

        beforeSubmitFormatInputInnerName()
        beforeSubmitFormatDateInputName()
//        if (editor.txt.text() == "") {
//            toastr.error("请填写产品内容！")
//            return
//        }
        if (UM.getEditor('umeditor').getContentTxt() == "") {
            toastr.error("请填写产品内容！")
            return
        }
        beforeSubmitCheckCourseDescPic()
        if ($("div[name='organClassBosBox']").length == 0) {
            toastr.error("请创建班次!")
            return
        }
        if (!beforeSubmitClassRequiredCatalog()) {
            toastr.error("请添加班次课时!")
            return
        }
//        if ($("#tagBox").find("input[type='checkbox']:checked").length == 0) {
//            toastr.error("请勾选标签!")
//            return
//        }

        if (!beforeSubmitCheckCourseMainPic()) {
            return
        }
        beforeSubmitCourseContent($("#umeditor").html());
//        beforeSubmitCourseContent(editor.txt.html());
        var url = "/auth/organCourse/merchantCreate"
        if ($("#courseId").val()) {
            url = "/auth/organCourse/merchantUpdate"
        }


        $.ajax({
            type: "POST",
            data: $("#frm").serialize(),
            url: url,
            success: function (data) {
                if (data.success) {
                    toastr_success(null, document.referrer)
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                $("#enterTimeEnd").attr("name", "organCoursePo.enterTimeEnd")
            }
        })
    }

    $(document).ready(function () {
        //修改页面初始化start
        if ([[${organCoursePo.id}]]) {

            $("#umeditor").html($("#courseContent").val())
            //班次start
            var organClassBos = [[${organClassBos}]]
            for (var i = 0; i < organClassBos.length; i++) {
                var len = $("#accordion").find("div[name='organClassBosBox']").length
                var classes = [{
                    id: organClassBos[i].id, href: "#collapse" + (len + 1), collapse: "collapse" + (len + 1),
                    className: organClassBos[i].className, classPrize: organClassBos[i].classPrize,
                    discountAmount: organClassBos[i].discountAmount, enterLimitFlag: organClassBos[i].enterLimitFlag,
                    enterRequireNum: organClassBos[i].enterRequireNum, courseNum: organClassBos[i].courseNum,
                    vipFlag: organClassBos[i].vipFlag, phone: organClassBos[i].phone, address: organClassBos[i].address,
                    addressLng: organClassBos[i].addressLng, addressLat: organClassBos[i].addressLat,
                }]
                $("#accordion").append($("#classTmpl").tmpl(classes));

                var htmls = '<option value="">请选择</option>';
                for (key in organAccountMap) {
                    if (key == organClassBos[i].ognAccountId) {
                        htmls = htmls + "<option selected value='" + key + "'>" + organAccountMap[key] + "</option>"
                    } else {
                        htmls = htmls + "<option value='" + key + "'>" + organAccountMap[key] + "</option>"
                    }
                }
                $("#accordion").find("div[name='organClassBosBox']:last").find("select[name='ognAccountId']").eq(0).html(htmls);
                var organClassCatalogPos = organClassBos[i].organClassCatalogPos

                var $box = $("#accordion").find("div[name='organClassCatalogPosBox']:last")
                var catalog = []
                if (null != organClassCatalogPos && organClassCatalogPos.length) {
                    for (var j = 0; j < organClassCatalogPos.length; j++) {
                        catalog.push({
                            id: organClassCatalogPos[j].id,
                            len: j + 1,
                            startTime: new Date(organClassCatalogPos[j].startTime).Format('yyyy-MM-dd HH:mm:ss'),
                            duration: organClassCatalogPos[j].duration,
                            catalogTitle: organClassCatalogPos[j].catalogTitle,
                            catalogDesc: organClassCatalogPos[j].catalogDesc
                        })
                    }
                    $box.append($("#classCatalogTmpl").tmpl(catalog))
                }

            }
            $("#accordion").find("select[name='enterLimitFlag']").each(function () {
                var val = $(this).attr("value")
                $(this).val(val)
            })
            $("#accordion").find("select[name='vipFlag']").each(function () {
                var val = $(this).attr("value")
                $(this).val(val)
            })

            $("#accordion").find("div[id^='collapse']").removeClass("in");//选项卡折叠
            $("#accordion").find("select[name='enterLimitFlag']").each(function () {
                var $enterRequireNum = $(this).siblings("input[name='enterRequireNum']").eq(0)
                if ("false" == $(this).val()) {
                    $enterRequireNum.attr("readonly", true)
                }
            })

            classBoxDynamicInitAll()

            //班次end
            if ([[${supportTag}]]) {
                //公用标签start
                var tagList = [[${ognTagList}]]
                var constantTag = []
                var ognTag = []

                for (item in tagList) {
                    if (tagList[item].ognFlag) {
                        ognTag.push({
                            id: tagList[item].id,
                            tagName: tagList[item].tagName,
                            ognFlag: tagList[item].ognFlag
                        })
                    } else {
                        constantTag.push({
                            id: tagList[item].id,
                            tagName: tagList[item].tagName,
                            ognFlag: tagList[item].ognFlag
                        })
                    }
                }
                $("#constantTagBox").append($("#ognTagTmpl").tmpl(ognTag));
                $("#constantTagBox").append($("#constantTagTmpl").tmpl(constantTag));
                //公用标签end
                //产品标签start
                var organCourseTagBos = [[${organCourseTagBos}]]
                for (item in organCourseTagBos) {
                    $("#constantTagBox").find("input[name='id']").each(function () {
                        if ($(this).val() == organCourseTagBos[item].tagId) {
                            $(this).attr("checked", true)
                        }
                    })
                }
                //产品标签end
            }

        }
        //修改页面初始化end


        laydate.render({
            elem: '#onlineTime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeStart',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeEnd',
            type: 'datetime'
        });
        lay('.laydateer').each(function () {
            laydate.render({
                type: 'datetime',
                elem: this,
                trigger: 'click'
            });
        });


        // 或者 var editor = new E( document.getElementById('#editor') )
        // 配置服务器端地址
//        editor.customConfig.uploadImgServer = '/auth/organCourse/uploadCourseDescPic'
//        editor.customConfig.uploadFileName = 'file'
//        editor.customConfig.uploadImgMaxLength = 1
//        editor.customConfig.uploadImgHooks = {
//            success: function (xhr, editor, result) {
//                // 图片上传并返回结果，图片插入成功之后触发
//                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
//                var $img = $("#editor").find("img[name=" + result.name + "]")
//                if ($img.length == 1) {
//                    $("#editor").find("img[name=" + result.name + "]").eq(0).attr("precode", result.precode)
//                }
//
//            },
//        }
//        editor.create()
//


//        $.validator.addMethod("isMobile", function (value, element) {
//            var length = value.length;
//            var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/
//            return this.optional(element) || (length == 11 && mobile.test(value));
//        }, "请填写正确的手机号码!");
        $.validator.addMethod("decimalLen6", function (value, element) {
            var decimalLen6 = /^\d+(\.\d{0,6})?$/
            return this.optional(element) || decimalLen6.test(value);
        }, "小数位数为1-6位!");


    });


</script>
</body>
</html>