<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_header}">
</head>
<header>
    <th:block layout:fragment="links">
        <link th:href="@{/umeditor/themes/default/css/umeditor.css}" rel="stylesheet">
    </th:block>
    <style>
        .course-label {
            font-size: 20px;
            font-weight: bold
        }
    </style>
</header>
<body class="gray-bg">
<div class="col-sm-11 ">
    <div style="padding-left: 40px" class="row ">
        <input id="ognPhone" th:value="${ognPhone}" type="hidden">
        <input id="ognLng" th:value="${ognLng}" type="hidden">
        <input id="ognLat" th:value="${ognLat}" type="hidden">
        <input id="ognAddress" th:value="${ognAddress}" type="hidden">
        <form id="frm">
            <div class="col-sm-12 ">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">产品详情（<span class="required-sign">*为必填</span>）</label>
                        <a style="display: inline-block;float: right" class="btn btn-xs btn-danger"
                           href="javascript:void(0)" onclick="history.back()">返回</a>

                    </div>
                    <div class="ibox-content" style="">
                        <div class="row" th:object="${organCoursePo}">
                            <div class="col-sm-6">
                                <input id="courseId" name="organCoursePo.id" type="hidden"
                                       th:value="${organCoursePo.id}">
                                <input id="ognId" type="hidden" th:value="${organCoursePo.ognId}">
                                <div class="form-group ">
                                    <label for="courseName">产品名称 <span class="required-sign">*</span></label>
                                    <input id="courseName" name="organCoursePo.courseName" type="text" disabled="true"
                                           th:value="${organCoursePo.courseName}"
                                           required="true" aria-required="true" class=" form-control">
                                </div>
                                <div class="form-group">
                                    <label for="courseType">产品类型 <span class="required-sign">*</span></label>
                                    <select id="courseType" name="organCoursePo.courseType" type="text" disabled="true"
                                            required="true"
                                            class=" form-control ">
                                        <option value="">请选择</option>
                                        <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpOrganCourseCourseType).values()}"
                                                th:selected="${#strings.equals(organCoursePo.courseType,state)}"
                                                th:value="${state}"
                                                th:text="#{EpOrganCourseCourseType.+${state.literal}}">
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group" style="overflow:hidden">
                                    <label for="courseCatalogId">产品科目 <span class="required-sign">*</span></label>
                                    <div>
                                        <div class="col-sm-6">
                                            <select id="firstConstantCatalogId"
                                                    required="true" style="margin-left: -15px" disabled="true"
                                                    class="form-control">
                                                <option th:each="po : ${firstConstantCatalogSelectModel}"
                                                        th:value="${po.id}" th:selected="${firstConstantCatalog}"
                                                        th:text="${po.label}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="courseCatalogId" name="organCoursePo.courseCatalogId"
                                                    disabled="true"
                                                    class="form-control" style="margin-left: 15px"
                                                    th:field="*{courseCatalogId}">
                                                <option th:each="po : ${secondCatalogs}"
                                                        th:value="${po.id}"
                                                        th:text="${po.label}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="courseIntroduce">产品简介 </label>
                                    <textarea id="courseIntroduce" name="organCoursePo.courseIntroduce" type="text"
                                              style="height:80px"
                                              placeholder="最多输入20个字" maxlength="20"
                                              class="form-control"
                                              th:text="${organCoursePo.courseIntroduce}"></textarea>

                                </div>

                                <div class="form-group">
                                    <label for="onlineTime">上线时间 <span class="required-sign">*</span></label>
                                    <input id="onlineTime" name="organCoursePo.onlineTime" type="text"
                                           required="true" class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.onlineTime,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group">
                                    <label for="enterTimeStart">报名开始时间 <span class="required-sign">*</span></label>
                                    <input id="enterTimeStart" name="organCoursePo.enterTimeStart" type="text"
                                           required="true" class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.enterTimeStart,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group">
                                    <label for="enterTimeEnd">报名结束时间 </label>
                                    <input id="enterTimeEnd" name="organCoursePo.enterTimeEnd" type="text"
                                           class="form-control laydate"
                                           th:value="${#dates.format(organCoursePo.enterTimeEnd,'yyyy-MM-dd HH:mm:ss')}">

                                </div>
                                <div class="form-group" th:if="${organVipFlag}">
                                    <label for="vipFlag">是否<span th:text="${organVipName}"></span>才能报名 <span
                                            class="required-sign">*</span></label>
                                    <select id="vipFlag" name="organCoursePo.vipFlag" type="text" disabled="true"
                                            required="true" class="form-control" th:value="${organCoursePo.vipFlag}">
                                        <option value=true>是</option>
                                        <option value=false>否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label>产品内容 <span class="required-sign">*</span></label>
                                <div id="umeditor" name="content" style="height:350px">
                                    <p>请填写您的产品内容</p>
                                </div>

                                <div id="editor">
                                </div>
                                <input id="courseContent" name="organCoursePo.courseContent" type="hidden"
                                       th:value="${organCoursePo.courseContent}">
                                <div id="preCodeBox"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">选择称号（<span class="required-sign">不超过6个</span>）

                            <span style="float:right;margin-top: 5px" class="label ogn-tag">私有称号</span>
                            <span style="float:right;margin-top: 5px" class="label constant-tag">公用称号</span>
                        </label>
                    </div>
                    <div class="ibox-content">
                        <div id="tagBox" style="background: #eee;min-height: 250px;padding: 20px 0px">
                            <div id="constantTagBox" class="col-sm-12">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">设置图片（<span class="required-sign">必需</span>）</label>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2">宣传图
                                    <soan class="required-sign">*</soan>
                                </label>
                                <button type="button" class="btn btn-info mainpic_url" id="mainpic_img_btn"
                                        onclick="$('#mainpic_img').click()">
                                    <span>选择图片</span>
                                </button>
                                <input style="display:none" id="mainpic_img" type="file"
                                       onchange="uploadMainpicImg($('#mainpic_img_btn'),this)"/>
                            </div>
                            <div class="col-sm-offset-2 course-mainpic-box">
                                <img id="mainpic_img_url" class="course-mainpic-img-url" th:src="${mainpicImgUrl}"/>
                                <input type="hidden" name="mainpic_url" id="mainpic_url" class="required">
                                <input type="hidden" name="mainpicUrlPreCode" id="mainpic_url_preCode">
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <label class="course-label">产品班次（<span class="required-sign">*为必填</span>）</label>
                    </div>
                    <div class="ibox-content">
                        <a style="display:none" class="btn btn-success" type="button" onclick="createClassBox()"><i
                                class="glyphicon glyphicon-plus"></i> 添加班次</a>
                        <div class="panel-group" id="accordion">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3 col-sm-offset-2" style="margin-top: 20px">
                            <button style="width:150px" class="btn-lg btn btn-primary" type="button"
                                    onclick="frmSubmit()">紧急修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>
<script type="text/template" id='classCatalogTmpl'>
    <div name="organClassCatalogPos" class="rectifyOrganClassCatalogBos" style="display:inline-block;margin:5px 0px">
        <div name="" class="col-sm-5 form-group">
            <label>目录标题<span class="required-sign">*</span></label>
            <input name="id" type="hidden" jprop="id" value=${id}>
            <input name="catalogTitle" jprop="catalogTitle" class="form-control " value="${catalogTitle}"
                   required="true"/>
            <input name="catalogIndex" jprop="catalogIndex" type="hidden" value=${len}>
            <input name="rectifyFlag" jprop="rectifyFlag" type="hidden" value=${rectifyFlag}>
        </div>
        <div class="col-sm-5 form-group">
            <label>开始时间<span class="required-sign">*</span></label>
            <input name="startTime" jprop="startTime" class="form-control laydateer " required="true"
                   value="${startTime}"
                   rectifyflag="${rectifyFlag}">
        </div>

        <a name="removeCatalogBtn" style="float:right;display:none;margin-left:10px" href="javascript:void(0);"><span
                class="glyphicon glyphicon-remove"
                                                                 aria-hidden="true"
                                                                 onclick="removeClassCatalogBox(this)"></span></a>
        <a name="insertCatalogBtn" style="float:right;display: none" href="javascript:void(0);"><span
                onclick="insertbeforeClassCatalogBox(this)">插入</span></a>
        <div class="col-sm-5 form-group">
            <label>持续时长（分钟）</label>
            <input name="duration" jprop="duration" class="form-control " value="${duration}" required="true">
        </div>
        <div class="col-sm-10 form-group">
            <label>目录描述<span class="required-sign">*</span></label>
            <textarea name="catalogDesc" jprop="catalogDesc" class="form-control "
                      required="true">${catalogDesc}</textarea>
        </div>
    </div>
</script>
<script type="text/template" id='constantTagTmpl'>
    <div class="col-sm-2 constantTagPos" style="margin-bottom: 10px">
        <input name="tagName" jprop="tagName" type="hidden" value=${tagName}>
        <input type="checkbox" name="id" jprop="id" onclick="taglt6(this)" value="${id}">
        <input name="ognFlag" type="hidden" jprop="ognFlag" value=false>
        <span class="label constant-tag">${tagName}</span>
    </div>
</script>
<script type="text/template" id='ognTagTmpl'>
    <div class="col-sm-2 constantTagPos" style="margin-bottom: 10px">
        <input type="checkbox" name="id" jprop="id" onclick="taglt6(this)" value="${id}">
        <input name="tagName" jprop="tagName" type="hidden" value=${tagName}>
        <input name="ognFlag" jprop="ognFlag" value=true type="hidden">
        <span class="label ogn-tag">${tagName}</span>
    </div>
</script>
<script type="text/template" id='classTmpl'>
    <div name="organClassBosBox" class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a name="boxTitle" data-toggle="collapse" data-parent="#accordion" href=${href}>${className}</a>
                <a style="float:right;display:none" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                                     aria-hidden="true"
                                                                                     onclick="removeClassBox(this)"></span></a>
            </h5>
        </div>
        <div id=${collapse} class="panel-collapse collapse in">
            <div class="panel-body ">
                <div name="organClassBos" class="form-group col-sm-4 organClassBos">
                    <input name="id" type="hidden" value="${id}">
                    <label>班次名称 <span class="required-sign">*</span></label>
                    <input name="className" type="text" class=" form-control " value="${className}" required="true"
                           disabled="true"
                           onblur="setClassBoxTitle(this)">
                    <div class="form-group">
                        <label>类型 <span class="required-sign">*</span></label>
                        <select name="type" jprop="type" type="text" class="form-control classType" value="${type}"
                                required="true" disabled="true">
                            <option value="normal">正常</option>
                            <option value="bespeak">预约</option>
                        </select>
                    </div>
                    <label>产品负责人 <span class="required-sign">*</span></label>
                    <select name="ognAccountId" type="text" class=" form-control " required="true" disabled="true">

                    </select>
                    <label>价格(元) <span class="required-sign">*</span></label>
                    <input name="classPrize" type="text" class=" form-control number-input" value="${classPrize}"
                           disabled="true">
                    <div class="form-group discountAmount">
                        <label><input type="checkbox" class="isDiscount">折扣优惠(元) </label>
                        <input name="discountAmount" jprop="discountAmount" type="text" readonly="true"
                               class=" form-control"
                               value="${discountAmount}">
                    </div>

                    <label>是否限制报名人数 <span class="required-sign">*</span></label>
                    <select name="enterLimitFlag" type="text" class=" form-control " value="${enterLimitFlag}"
                            disabled="true">
                        <option value=false>否</option>
                        <option value=true>是</option>
                    </select>
                    <label>要求报名人数 </label>
                    <input name="enterRequireNum" type="text" class=" form-control " value="${enterRequireNum}"
                           readonly="true">
                    <div>
                        <label>联系电话 <span class="required-sign">*</span></label>
                        <input name="phone" jprop="phone" type="text" class="form-control" required="true"
                               readonly="true"
                               value="${phone}">
                    </div>

                    <div>
                        <label>上课地址 <span class="required-sign">*</span></label>
                        <input name="address" jprop="address" type="text" class="form-control" required="true"
                               readonly="true"
                               value="${address}">
                    </div>

                    <div>
                        <label>经度 <span class="required-sign">*</span></label>
                        <input name="addressLng" jprop="addressLng" type="text" class="form-control" required="true"
                               readonly="true"
                               value="${addressLng}">
                    </div>

                    <div>
                        <label>纬度 <span class="required-sign">*</span></label>
                        <input name="addressLat" jprop="addressLat" type="text" class="form-control" required="true"
                               readonly="true"
                               value="${addressLat}">
                    </div>
                    <label><span name="courseNumLabel">${type == 'normal'?'总计目录':'总预约次数'}</span> <span
                            class="required-sign">*</span></label>
                    <input name="courseNum" type="Number" class=" form-control " value="${courseNum}" readonly=true>
                </div>
                <div name="organClassCatalogPosBox" class="form-group col-sm-8 well " style="height:auto">
                </div>
            </div>
        </div>
    </div>
</script>

<script th:replace="~{fragments/scripts}"></script>
<!--<script th:src="@{/js/plugins/staps/jquery.steps.min.js}"></script>-->
<script th:src="@{/umeditor/umeditor.config.js}"></script>
<script th:src="@{/umeditor/umeditor.js}"></script>
<script th:src="@{/umeditor/lang/zh-cn/zh-cn.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<!--<script th:src="@{/wangeditor/wangEditor.js}"></script>-->
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.tmpl.min.js}"></script>
<script th:src="@{/js/laydate/laydate.js}"></script>
<script th:inline="javascript">
    var um = UM.getEditor('umeditor', {imageUrl: "/auth/organCourse/uploadCourseDescPic"});
    //organCoursePo.EnterTimeEnd提交框name属性
    function organCoursePoEnterTimeEnd() {
        if ($("#enterTimeEnd").val()) {
            $("#enterTimeEnd").attr("name", "organCoursePo.enterTimeEnd")
        } else {
            $("#enterTimeEnd").attr("name", "")
        }
    }

    /* 上传宣传图*/
    function uploadMainpicImg($btn, ele) {
        $btn.attr("disabled", true)
        data = new FormData();
        data.append("file", $("#mainpic_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/organCourse/uploadMainpic",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    $("#mainpic_img_url").attr("src", data.result.fileUrl)
                    $("#mainpic_url").val(data.result.fileUrl)
                    $("#mainpic_url_preCode").val(data.result.preCode)
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                $(ele).attr("value", null);
                $btn.attr("disabled", false)
            }
        })
    }

    //教师map
    var organAccountMap = [[${organAccountMap}]]

    /*勾选称号不超过6个*/
    function taglt6(ele) {
        if ($("#tagBox").find("input[type='checkbox']:checked").length > 6) {
            if ($(ele).is(":checked")) {
                $(ele).attr("checked", false)
                toastr.error("称号不得超过6个")
            }
        }
    }
    function beforeSubmitFormatInputInnerName() {
        var len = $("div.rectifyOrganClassCatalogBos").length
        var $box = $("div.rectifyOrganClassCatalogBos")
        for (var i = 0; i < len; i++) {
            $box.eq(i).find("input,textarea").each(function () {
                $(this).attr("name", "rectifyOrganClassCatalogBos[" + i + "]." + $(this).attr("jprop"))
            })
        }

        var $constantTags = $("div.constantTagPos")
        var tagCount = 0
        for (var i = 0; i < $constantTags.length; i++) {
            if ($constantTags.eq(i).find("input[type='checkbox']").length > 0
                && !$constantTags.eq(i).find("input[type='checkbox']").eq(0).is(':checked')) {
                $constantTags.eq(i).find("input").each(function () {
                    $(this).attr("name", "")
                })
            } else {
                $constantTags.eq(i).find("input").each(function () {
                    $(this).attr("name", "constantTagPos[" + tagCount + "]." + $(this).attr("jprop"))
                })
                tagCount++;
            }
        }
    }

    function classBoxDynamicInitAll() {
        //优惠价格勾选
        $(".organClassBos").find("input[name='discountAmount']").each(function () {
            if ($(this).val()) {
                $(this).parents(".discountAmount").eq(0).find(".isDiscount").eq(0).attr("checked", true)
            }
            $(this).parents(".discountAmount").eq(0).find(".isDiscount").eq(0).attr("disabled", true)
        })
    }
    
    /*紧急修改初始化，班次目录部分初始化*/
    function initOrganClassCatalogPos() {
        $("div[name='organClassCatalogPos']").each(function () {
            var rectify = $(this).find("input[name='startTime']").eq(0).attr("rectifyflag")
            if (rectify == false || rectify == "false") {
                $(this).find("input,textarea").attr("readonly", true)
            }

        })

    }

    function beforeSubmitAbledOrganClassCatalogPos() {
        $("div[name='organClassCatalogPos']").find("input[name='startTime']").each(function () {
            $(this).attr("disabled", false);

        })
    }


    /*校验产品内容的图片*/
    function beforeSubmitCheckCourseDescPic() {
        var $imgArray = $("#umeditor").find("img")
        var $preCodes = $("#preCodeBox")
        for (var i = 0; i < $imgArray.length; i++) {
//            var preCode = $imgArray.eq(i).attr("precode")
            var preCode = $imgArray.eq(i).attr("_src")
            var htmls = '<input type="hidden" name="courseDescPicPreCodes" value="' + preCode + '">'
            $preCodes.append(htmls)
        }
    }

    /*校验宣传图为空*/
    function beforeSubmitCheckCourseMainPic() {
        if ($("#courseId").val()) {
            if (!$("#mainpic_img_url").attr("src")) {
                return checkFormCreateImgRequired([{eleId: "mainpic_url", msg: "请上传宣传图"}])
            } else {
                return true
            }
        } else {
            return checkFormCreateImgRequired([{eleId: "mainpic_url", msg: "请上传宣传图"}])
        }
    }

    /*校验产品内容为空*/
    function beforeSubmitCourseContent(content) {
        $("#courseContent").val(content)
    }

    function beforeSubmitCatalogStartTimeCheck() {
        var flag = true
        $("div[name='organClassCatalogPos']").each(function () {
            var $startTime = $(this).find("input[name='startTime']").eq(0)
            if ($startTime.attr("readonly") != 'readonly') {
                var startTime = $startTime.val()
                var startDate = new Date(startTime)
                var currDate = new Date()
                var checkDate = currDate.setMinutes(currDate.getMinutes() + 30)
                if (checkDate > startDate) {
                    flag = false
                    $startTime.css("border-color", "red")
                }

            }
        })
        return flag;
    }

    function frmSubmit() {
        beforeSubmitAbledOrganClassCatalogPos()
        organCoursePoEnterTimeEnd()
        if (!$("#courseId").val()) {
            return
        }
        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }
        if (!beforeSubmitCheckCourseMainPic()) {
            return
        }
        if (!beforeSubmitCatalogStartTimeCheck()) {
            toastr.error("班次目录开始时间必须早于当前时间30分钟以上")
            return
        }
        beforeSubmitFormatInputInnerName()

        beforeSubmitCheckCourseDescPic()
        if (UM.getEditor('umeditor').getContentTxt() == "") {
            toastr.error("请填写产品内容！")
            return
        }
        beforeSubmitCourseContent($("#umeditor").html());

        var url = "/auth/organCourse/merchantRectify"

        $.ajax({
            type: "POST",
            data: $("#frm").serialize(),
            url: url,
            beforeSend: function () {
                layer.load(2, {shade: [0.1, '#fff']});
            },
            success: function (data) {
                if (data.success) {
                    toastr_success(null, document.referrer)
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                layer.closeAll();
            }
        })
    }

    $(document).ready(function () {
        //修改页面初始化start
        if ([[${organCoursePo.id}]]) {

            $("#umeditor").html($("#courseContent").val())
            //班次start
            var organClassBos = [[${organClassBos}]]
            for (var i = 0; i < organClassBos.length; i++) {
                var len = $("#accordion").find("div[name='organClassBosBox']").length
                var classes = [{
                    id: organClassBos[i].id, href: "#collapse" + (len + 1), collapse: "collapse" + (len + 1),
                    className: organClassBos[i].className, classPrize: organClassBos[i].classPrize,
                    discountAmount: organClassBos[i].discountAmount, enterLimitFlag: organClassBos[i].enterLimitFlag,
                    enterRequireNum: organClassBos[i].enterRequireNum, courseNum: organClassBos[i].courseNum,
                    phone: organClassBos[i].phone, address: organClassBos[i].address,
                    addressLng: organClassBos[i].addressLng,
                    addressLat: organClassBos[i].addressLat,
                    type: organClassBos[i].type
                }]
                $("#accordion").append($("#classTmpl").tmpl(classes));

                var htmls = '<option value="">请选择</option>';
                for (key in organAccountMap) {
                    if (key == organClassBos[i].ognAccountId) {
                        htmls = htmls + "<option selected value='" + key + "'>" + organAccountMap[key] + "</option>"
                    } else {
                        htmls = htmls + "<option value='" + key + "'>" + organAccountMap[key] + "</option>"
                    }
                }
                $("#accordion").find("div[name='organClassBosBox']:last").find("select[name='ognAccountId']").eq(0).html(htmls);
                var organClassCatalogPos = organClassBos[i].rectifyOrganClassCatalogBos

                var $box = $("#accordion").find("div[name='organClassCatalogPosBox']:last")
                var catalog = []
                if (null != organClassCatalogPos && organClassCatalogPos.length) {
                    for (var j = 0; j < organClassCatalogPos.length; j++) {
                        catalog.push({
                            id: organClassCatalogPos[j].id,
                            len: j + 1,
                            startTime: new Date(organClassCatalogPos[j].startTime).Format('yyyy-MM-dd HH:mm:ss'),
                            duration: organClassCatalogPos[j].duration,
                            catalogTitle: organClassCatalogPos[j].catalogTitle,
                            catalogDesc: organClassCatalogPos[j].catalogDesc,
                            rectifyFlag: organClassCatalogPos[j].rectifyFlag
                        })
                    }
                    $box.append($("#classCatalogTmpl").tmpl(catalog))
                } else {
                    $box.hide()
                }

            }
            $("#accordion").find("select[name='enterLimitFlag']").each(function () {
                var val = $(this).attr("value")
                $(this).val(val)
            })
            $("#accordion").find("select[name='type']").each(function () {
                var val = $(this).attr("value")
                $(this).val(val)
            })

            $("#accordion").find("div[id^='collapse']").removeClass("in");//选项卡折叠
            $("#accordion").find("select[name='enterLimitFlag']").each(function () {
                var $enterRequireNum = $(this).siblings("input[name='enterRequireNum']").eq(0)
                if ("false" == $(this).val()) {
                    $enterRequireNum.attr("readonly", true)
                }
            })
            //是否限制报名人数 框绑定事件
            $("#accordion").on("change", "select[name='enterLimitFlag']", function () {
                var $enterRequireNum = $(this).siblings("input[name='enterRequireNum']").eq(0)
                if ($(this).val() == "true") {
                    $enterRequireNum.removeAttr("readonly")
                } else {
                    $enterRequireNum.attr("readonly", true)
                }
            })
            classBoxDynamicInitAll()
            initOrganClassCatalogPos()

            //班次end
            if ([[${supportTag}]]) {
                //公用称号start
                var tagList = [[${ognTagList}]]
                var constantTag = []
                var ognTag = []

                for (item in tagList) {
                    if (tagList[item].ognFlag) {
                        ognTag.push({
                            id: tagList[item].id,
                            tagName: tagList[item].tagName,
                            ognFlag: tagList[item].ognFlag
                        })
                    } else {
                        constantTag.push({
                            id: tagList[item].id,
                            tagName: tagList[item].tagName,
                            ognFlag: tagList[item].ognFlag
                        })
                    }
                }
                $("#constantTagBox").append($("#constantTagTmpl").tmpl(constantTag));
                $("#constantTagBox").append($("#ognTagTmpl").tmpl(ognTag));

                //公用称号end
                //产品称号start
                var organCourseTagBos = [[${organCourseTagBos}]]
                for (item in organCourseTagBos) {
                    $("#constantTagBox").find("input[name='id']").each(function () {
                        if ($(this).val() == organCourseTagBos[item].tagId) {
                            $(this).attr("checked", true)
                        }
                    })
                }
                //产品称号end
            }

        }
        //修改页面初始化end


        laydate.render({
            elem: '#onlineTime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeStart',
            type: 'datetime'
        });
        laydate.render({
            elem: '#enterTimeEnd',
            type: 'datetime'
        });
        lay('.laydateer').each(function () {
            laydate.render({
                type: 'datetime',
                elem: this,
                trigger: 'click'
            });
        });

        $("#frm").validate({
            rules: {
                duration: {digits: true},
            },
            messages: {
            },

        })
    });

</script>
</body>
</html>