img[src=""] {
    opacity: 0;
}

.course-mainpic-box {
    border: 3px dashed #e6e6e6;
    height: 345px;
    width: 345px
}

.course-mainpic-img-url {
    margin: 10px;
    height: 320px;
    width: 320px
}

.required-sign {
    color: red
}

.teacher-avatar-box {
    border: 3px dashed #e6e6e6;
    width: 165px;
    height: 165px
}

/*教师头像img*/
.teacher-avatar-img-url {
    margin: 10px;
    height: 140px;
    width: 140px;
    border-radius: 50%
}

/*遮罩层*/
.loadingWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    /*background-image:url(../img/loading2.gif);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    background-color: rgba(255, 255, 255, 0);
    filter: alpha(opacity=50);
}

/*私有标签*/
.ogn-tag {
    background-color: #5EE495;
}

/*公用标签*/
.constant-tag {
    background-color: #2AD5F3;
}

/*模态框高度90%，超出后y轴滚轴*/
.modal-height90per {
    height: 90%;
    overflow-y: auto;
}