<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>EP后台 - 登录</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
</head>
<body>
<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">EP</h1>
        </div>
        <th:block th:if="${errorMsg == null}">
            <h3>欢迎来的EP后台管理系统</h3>
        </th:block>
        <th:block th:if="${errorMsg != null}">
            <h3 style="color: red"
                th:text="${#httpSession.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}"></h3>
        </th:block>
        <form id="userFrm" class="m-t" role="form" action="/security/login" method="POST" enctype="">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="用户名" required="">
                <label style="float: left;color:red" id="error_loginname"></label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="密码" required="">
                <label style="float: left;color:red" id="error_password"></label>
            </div>
            <div class="form-group" style="">
                <div style="display: block; overflow:hidden">
                    <input class="form-control" style="width: 150px;display: inline-block;float: left"
                           name="captchaCode"
                           placeholder="验证码" required="">
                    <img src="captcha/newCode" alt="验证码" title="点击重新获取验证码" id="captchaPng" onclick="reImg()"
                         style="display: inline-block;float: right">
                </div>
                <label style="float: left;display: inline-block;color:red" id="error_captcha"></label>
            </div>
            <div class="form-group" style="">
                <input type="submit" class="btn btn-primary block full-width m-b" value="登录">
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<th:block layout:fragment="scripts">

    <script th:inline="javascript">
        function reImg() {
            var img = document.getElementById("captchaPng");
            img.src = "captcha/newCode";
        }
    </script>
</th:block>
</body>
</html>
