<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <title>小竹马后台 - 登录</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body class="">


<div class="login-body">
    <div class="login-wrapper"
         style="background-image: url(/img/xzm-login-bg.jpg)">
        <div class="login-inner">
            <div class="lg-aside">
                <div class="lg-logo">
                    <img style="width:150px" th:src="@{/img/xzm_logo.png}"/>

                </div>
                <div class="lg-aside-event">

                    <div class="lg-aside-event-tit">
                        <div class="lg-aside-event-icon">

                            <img src=""
                                 alt="">

                        </div>
                        <h2 style="display: none">
                            百万用户的信赖首选
                        </h2>
                    </div>

                    <div class="lg-aside-event-con">
                        <div class="lg-aside-event-txt">
                            <icon class=""></icon>
                            <span></em></span>
                        </div>
                        <div class="lg-aside-event-txt">
                            <icon class=""></icon>
                            <span></em></span>
                        </div>

                    </div>

                </div>

            </div>
            <div class="lg-content">
                <div class="qc-pt-login-content" id="loginBox">
                    <form action="/security/login" method="POST">
                        <div class="login-tab"><h1 class="login-tab-title J-txtLoginTitle">登录</h1>
                            <!--邮箱手机登录　start-->
                            <div class="login-box J-loginContentBox J-qcloginBox" style="">
                                <div class="login-form">
                                    <ul class="form-list">
                                        <li>
                                            <div class="form-input">
                                                <div class="form-unit tip-unit">
                                                    <input value="" name="username" type="text"
                                                           class="qc-log-input-text lg J-username"
                                                           placeholder="用户名">
                                                    <ul class="tip-list J-mailSuggest" style="display:none;"></ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-input">
                                                <div class="form-unit"><input name="password"
                                                                              type="password"
                                                                              class="qc-log-input-text lg J-password"
                                                                              placeholder="密码"></div>
                                            </div>
                                        </li>
                                        <li style="" class="J-vcodeArea">
                                            <div class="form-input fm-security">
                                                <div class="form-unit">
                                                    <label class="input-tips" style="display: none;">验证码</label>
                                                    <input type="text" class="qc-log-input-text J-vcodeInput"
                                                           placeholder="验证码"
                                                           name="captchaCode" style="width:165px">
                                                    <a href="javascript:;" class="security-num J-changeVCode">
                                                        <img class="security-img J-vcodeImg" src="captcha/newCode"
                                                             alt="验证码" title="点击重新获取验证码" id="captchaPng"
                                                             onclick="reImg()"> </a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lg-tips-word error" th:if="${errorMsg != null}">
                                    <div class="lg-tips-word-inner J-loginTip"
                                         th:text="${#httpSession.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}"></div>
                                </div>
                                <div class="op-btn"><input style="background-color: #18a689" type="submit" value="登 录"
                                                           class="qc-log-btn J-loginBtn">

                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="lg-footer">
            <div class="lg-footer-inner">


                <div class="copyright">
                    <p class="tag-line">
                        Copyright &copy; 2017
                        <script>new Date().getFullYear() > 2017 && document.write("-" + new Date().getFullYear());</script>
                        小竹马. All Rights Reserved. <span>杭州奇闻科技&nbsp;版权所有</span>
                        <a target="_blank"
                           href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602009254"
                           style="color: white">
                            <img style="display: inline-block;margin-left: 20px;margin-right: 10px"
                                 th:src="@{/img/gonganbeian.png}"/>浙公网安备 33010602009254号
                        </a>

                    </p>

                </div>

            </div>
        </div>
    </div>
</div>


</body>
<script>
    function reImg() {
        var img = document.getElementById("captchaPng");
        img.src = "captcha/newCode";
    }
</script>

</html>