<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">

    </th:block>
</header>
<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--<span class="label label-success pull-right">月</span>-->
                    <h5 style="color: #1c84c6;float: none">当前未处理订单数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${saveOrderCount}"></h1>
                    <span>笔</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--<span class="label label-info pull-right">全年</span>-->
                    <h5 style="color: #23c6c8;float: none">当前上线中产品数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${onlineCount}"></h1>
                    <span>个</span>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--<span class="label label-primary pull-right">今天</span>-->
                    <h5 style="color:#1ab394;float: none">累计报名人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${totalParticipate}"></h1>
                    <span>人</span>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--<span class="label label-danger pull-right">最近一个月</span>-->
                    <h5 style="color: #ed5565;float: none">机构用户给出的综合得分（满分5分）</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" th:text="${togetherScore}/10"></h1>
                    <span>分</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div style="height:300px;" id="main"></div>
                        </div>
                        <div class="col-sm-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins" th:text="${allOrderCount}"></h2>
                                    <small>订单总数</small>
                                </li>
                                <li>
                                    <h2 class="no-margins " th:text="${ordersRecentlyCount}"></h2>
                                    <small>近30天内订单数</small>
                                </li>
                                <li>
                                    <div>
                                        <h2 class="no-margins " style="display:inline-block"
                                            th:text="${orderPrizeSum}"></h2><span>元</span>
                                    </div>
                                    <small>近30天内订单销售额</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>随堂回复</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!--<div class="ibox-content ibox-heading">-->
                <!--<h3><i class="fa fa-envelope-o"></i> 新回复</h3>-->
                <!--<small><i class="fa fa-tim"></i> 您有22条未读消息</small>-->
                <!--</div>-->
                <div class="ibox-content">
                    <div class="">
                        <div class="feed-element" th:each="po:${homeReplys}">
                            <div>
                                <div>
                                    <small class="pull-right text-navy" th:text="${po.launchFromNow}"></small>
                                    <strong style="color: #F8AC59" th:text="${po.launchName}"></strong>:<span
                                        th:text="${po.launchContent}"></span>
                                    <div>
                                        <small class="text-muted"
                                               th:text="${#dates.format(po.launchCreateAt,'yyyy-MM-dd HH:mm:ss')}"></small>
                                    </div>
                                </div>

                                <div style="background-color: #EEE;padding: 5px">
                                    <small class="pull-right text-navy" th:text="${po.replyFromNow}"></small>
                                    <strong style="color: #F8AC59" th:text="${po.childNickName}"></strong>:<span
                                        th:text="${po.replyContent}"></span>
                                    <div>
                                        <small class="text-muted"
                                               th:text="${#dates.format(po.replyCreateAt,'yyyy-MM-dd HH:mm:ss')}"></small>
                                    </div>
                                </div>
                                <div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/echarts/echarts.min.js}"></script>

<script th:inline="javascript">
    //最近6个月内订单数
    var saveOrderCounts = [[${saveOrderCounts}]]
    var successOrderCounts = [[${successOrderCounts}]]
    var monthStrs = [[${monthStrs}]]
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var option = {
        title: {
//            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data: ['报名数', '报名成功数']
        },
        xAxis: {
            data: monthStrs
        },
        yAxis: {},
        series: [
            {
                name: '报名数',
                type: 'bar',
                data: saveOrderCounts,
                //柱颜色
                itemStyle: {
                    normal: {color: '#1ab394'}
                },
            },
            {
                name: '报名成功数',
                data: successOrderCounts,
                type: 'line'
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    $(function () {
    })
</script>
</body>
</html>