<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title></title>

    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">

    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">

    <div>
        <h3 class="font-bold">您访问的资源不存在！</h3>
    </div>

    <div class="error-desc">
        <br/>您可以返回上一页看看
        <br/><a href="javascript:void(0)" onclick="backIndex()" class="btn btn-primary m-t">返回</a>
    </div>
</div>
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<script type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function backIndex() {
        window.location.href = document.referrer
    }
</script>
</body>


</html>
