img[src=""] {
    opacity: 0;
}

.course-mainpic-box {
    border: 3px dashed #e6e6e6;
    height: 213px;
    width: 360px
}

.course-mainpic-img-url {
    margin: 10px;
    height: 188px;
    width: 335px
}

.required-sign {
    color: red
}