<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">
    <header>
        <th:block layout:fragment="links">
        </th:block>

    </header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>菜单json</label>
                    <div class="col-sm-4">
                        <textarea id="menuJson" name="menuJson" type="text" class="form-control" required="true"
                        ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-info" type="button" onclick="menuGet()">查 询</button>
                        <button class="btn btn-primary" type="button" onclick="menuCreate()">创 建</button>
                        <button class="btn btn-danger" type="button" onclick="menuDelete()">删 除</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">返回</label>
                    <div class="col-sm-4">
                        <textarea id="resultJson" name="resultJson" type="text" class="form-control"
                        ></textarea>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">
    function menuGet() {
        $ajaxGetFun("/auth/wechat/menuGet", function (data) {
            $("#resultJson").val(data)
        })
    }
    function menuCreate() {
        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }
        $ajaxPostFun("/auth/wechat/menuCreate", {menuJson: $("#menuJson").val()}, function (data) {
            $("#resultJson").val(data)
        })
    }
    function menuDelete() {
        $ajaxGetFun("/auth/wechat/menuDelete", function (data) {
            $("#resultJson").val(data)
        })
    }
</script>
</body>
</html>