<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">

    </th:block>
</header>
<body>
<div>
    <div class="col-lg-12">

        <div class="panel">
            <div class="panel-heading">
                <!--<a class="btn btn-success" type="button" th:href="@{/auth/organAccount/createInit}"><i-->
                        <!--class="glyphicon glyphicon-plus"></i> 新增</a>-->
            </div>
            <div class="panel-heading" style=" padding: 15px 15px 5px">
                <form class="form-inline" id="query-form" role="form" >
                    <div class="form-group">
                        <input type="text" class="form-control " name="className" th:value="${map.get('className')}"
                               placeholder="班次名称">
                    </div>

                    <div class="form-group ">
                        <select class="form-control" name="status" id="type" style="width:182px;" >
                            <option value>状态</option>
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpOrganClassStatus).values()}"
                                    th:value="${state}"
                                    th:selected="${#stringTools.equals(state,map.get('status'))}"
                                    th:text="#{EpOrganClassStatus.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group mr10">
                        <div class="input-group input-large">
                            <input type="text" class="form-control  startTime" name="crStartTime" id="crStartTime" th:value="${map.get('crStartTime')}"
                                   th:placeholder="创建时间从"
                            >
                            <span class="input-group-addon">到</span>
                            <input type="text" class="form-control  endTime" name="crEndTime" id="crEndTime" th:value="${map.get('crEndTime')}"
                                   th:placeholder="到"
                            >
                        </div>
                    </div>


                    <div class="form-group" style="vertical-align: top;">
                        <button class="btn btn-primary" id="query-button" type="button">查询</button>
                        <button class="btn btn-warning" id="rest-button" type="button">重置</button>
                    </div>

                </form>
            </div>
            <div class="panel-body">

                <div id="editable_wrapper" class="dataTables_wrapper form-inline" role="grid"
                     sd:page-object="${page}">
                    <!--Userlist start-->
                    <table class="table table-striped table-hover table-bordered dataTable" id="editable"
                           aria-describedby="editable_info">
                        <thead>
                        <tr>
                            <th><a class="sorted" sd:pagination-sort="id">ID</a></th>
                            <th>班次名称</th>
                            <th>课程名称</th>
                            <th>价格（元）</th>
                            <th>折扣优惠(%)</th>
                            <th>是否限制报名人数</th>
                            <th>要求报名人数</th>
                            <th>下单人数</th>
                            <th>已报名成功人数</th>
                            <th>总计课时</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bo:${page.content}">
                            <td th:text="${bo.id}"></td>
                            <td th:text="${bo.className}"></td>
                            <td th:text="${bo.courseName}"></td>
                            <td th:text="${bo.classPrize}"></td>
                            <td th:text="${bo.discountAmount}"></td>
                            <td th:text="${bo.enterLimitFlag==true?'是':'否'}"></td>
                            <td th:text="${bo.enterRequireNum}"></td>
                            <td th:text="${bo.orderedNum}"></td>
                            <td th:text="${bo.enteredNum}"></td>
                            <td th:text="${bo.courseNum}"></td>
                            <td th:text="#{EpOrganClassStatus.+${bo.status}}"></td>

                            <td th:text="${bo.createAt}"></td>
                            <td>
                                <!--<a class="btn btn-xs btn-primary" th:if="${#stringTools.equals(bo.status,'save')}" th:href="@{/auth/organClass/online/}+${bo.id}">上线</a>-->
                                <a class="btn btn-xs btn-primary" th:if="${#stringTools.equals(bo.status,'online')}"
                                   href="javascript:void(0)" th:onclick="'openingBox('+${bo.id}+')'">开课</a>
                                <a class="btn btn-xs btn-danger" href="javascript:void(0)"
                                   th:if="${#strings.equals(bo.status,'opening')}" th:onclick="'endBox('+${bo.id}+')'">结束</a>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <!--Userlist end-->

                    <div class="row mt15">
                        <div class="col-lg-6">
                            <label class="fl" sd:page-size-selector="dropdown">
                                <select size="1" name="editable-sample_length" aria-controls="editable-sample"
                                        class="form-control xsmall" sd:page-size-selector="default">

                                </select>
                            </label>
                            <span class="fl pl15 pt10" sd:pagination-summary=""></span>
                        </div>

                        <div class="col-lg-6">
                            <ul class="pagination pagination-sm pull-right" sd:pagination="full">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>

<script>
    /*开课start*/
    function openingBox(id) {
        layer.confirm('确定该班次开课', {icon: 3, btn: ['确定', '取消']},
            function (index) {
                openingDo(id);
                layer.close(index);
            },
            function (index) {
                layer.close(index);
            });
    }
    function openingDo(id) {
        $.ajax({
            type:"GET",
            url:"/auth/organClass/opening/"+id,
            success:function (data) {
                if(data.success){
                    toastr_success(null,'/auth/organClass/index');
                } else {
                    toastr.error("操作失败，原因：" + data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            }
        })

    }
    /*开课end*/
    /*结束班次start*/
    function endBox(id) {
        layer.confirm('确定结束该班次', {icon: 3, btn: ['确定', '取消']},
            function (index) {
                endDo(id);
                layer.close(index);
            },
            function (index) {
                layer.close(index);
            });
    }
    function endDo(id) {
        $.ajax({
            type:"GET",
            url: "/auth/organClass/end/" + id,
            success:function (data) {
                if(data.success){
                    toastr_success(null,'/auth/organClass/index');
                } else {
                    toastr.error("操作失败，原因：" + data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
        })
    }
    /*结束班次end*/
</script>
</body>
</html>