<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${organPo.id} eq null ? '注册商家' : '修改商家'"></h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)" onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="organFrm" th:object="${organPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构名称：</label>
                    <div class="col-sm-3">
                        <input id="ognName" name="ognName" type="text" class="form-control" required="true" th:field="*{ognName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构地区：</label>
                    <div style="width: 100px;display: inline-block;margin-left: 15px" >
                        <select id="province" name="province" type="text" class="form-control" required="true" onchange="getCityByProvince()"
                               aria-required="true">
                            <option value="">省</option>
                            <option th:if="${province!=null}" th:each="state : ${province.keySet()}"
                                    th:value="${state}"
                                    th:text="${province.get(state)}">
                            </option>
                        </select>
                    </div>
                    <div style="width: 100px;display: inline-block" >
                        <select id="city" name="city" type="text" class="form-control" required="true"
                             onchange="getDistrictByCity()"  aria-required="true">
                            <option value="">市</option>

                        </select>
                    </div>
                    <div style="width: 100px;display: inline-block" >
                        <select id="ognRegion" name="ognRegion" type="text" class="form-control" required="true" th:field="*{ognRegion}"
                                aria-required="true">
                            <option value="">区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构地址：</label>
                    <div class="col-sm-3">
                        <input id="ognAddress" name="ognAddress" type="text" class="form-control" required="true" th:field="*{ognAddress}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地区经度：</label>
                    <div class="col-sm-3">
                        <input id="ognLng" name="ognLng" type="text" class="form-control" th:field="*{ognLng}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地区纬度：</label>
                    <div class="col-sm-3">
                        <input id="ognLat" name="ognLat" type="text" class="form-control" th:field="*{ognLat}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构简介：</label>
                    <div class="col-sm-3">
                        <textarea id="ognShortIntroduce" name="ognShortIntroduce" type="text" class="form-control"
                                  th:field="*{ognShortIntroduce}"
                                  />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构成立日期：</label>
                    <div class="col-sm-3">
                        <input id="ognCreateDateStr" name="ognCreateDateStr" type="text" class="form-control datetimepicker_date" th:value="${organPo.ognCreateDate}"
                                >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方电话：</label>
                    <div class="col-sm-3">
                        <input id="ognPhone" name="ognPhone" type="text" class="form-control" th:field="*{ognPhone}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方邮箱：</label>
                    <div class="col-sm-3">
                        <input id="ognEmail" name="ognEmail" type="email" class="form-control" th:field="*{ognEmail}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方网址：</label>
                    <div class="col-sm-3">
                        <input id="ognUrl" name="ognUrl" type="text" class="form-control" th:field="*{ognUrl}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构介绍：</label>
                    <div class="col-sm-3">
                        <textarea id="ognIntroduce" name="ognIntroduce" type="text" class="form-control" th:field="*{ognIntroduce}"
                               aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">营销权重：</label>
                    <div class="col-sm-3">
                        <input id="marketWeight" name="marketWeight" type="number" class="form-control" required="true"
                               th:field="*{marketWeight}"
                               aria-required="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control"  th:field="*{remark}"
                               />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商家主图:</label>
                    <button  type="button" class="btn btn-info" id="mainpic_img_btn" onclick="$('#mainpic_img').click()">
                        <span>选择图片</span>

                    </button>
                    <input style="display:none" id="mainpic_img" type="file" onchange="uploadMainpicImg($('#mainpic_img_btn'),this)"/>
                </div>
                <div class="col-sm-offset-2" style="border:3px dashed #e6e6e6;height:240px;width: 405px">
                    <img id="mainpic_img_url" th:src="${mainpicImgUrl}"/>
                    <input type="hidden" name="mainpic_url" id="mainpic_url">
                    <input type="hidden" name="mainpicUrlPreCode" id="mainpic_url_preCode">
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-2 control-label">商家logo</label>
                    <button type="button"  class="btn btn-info" id="logo_img_btn" onclick="$('#logo_img').click()">
                        <span>选择图片</span>

                    </button>
                    <input style="display: none" id="logo_img" type="file" onchange="uploadLogoImg($('#logo_img_btn'),this)"/>

                </div>
                <div class="col-sm-offset-2" style="border:3px dashed #e6e6e6;width: 165px;height: 165px">
                    <img id="logo_img_url" th:src="${logoImgUrl}"/>
                    <input type="hidden" name="logo_url" id="logo_url">
                    <input type="hidden" name="logoUrlPreCode" id="logo_url_preCode">
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="organFrmSubmit()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">
    function getCityByProvince() {
        var provinceId=$("#province").val();
        if(provinceId){
            $.ajax({
                type:"GET",
                url:"/auth/systemOrgan/getCityByProvince/"+provinceId,
                success:function (data) {
                    if(data.success){
                        console.log(data.result)
                        var res=data.result;
                        var htmls="<option value=''>市</option>";
                        for(var key in res){
                            htmls=htmls+"<option value='"+key+"'>"+res[key]+"</option>"
                        }
                        $("#city").html(htmls)
                    }
                }
            })
        }

    }
    function getDistrictByCity() {
        var cityId=$("#city").val()
        if(cityId){
            $.ajax({
                type:"GET",
                url:"/auth/systemOrgan/getDistrictByCity/"+cityId,
                success:function (data) {
                    if(data.success){
                        console.log(data.result)
                        var res=data.result;
                        var htmls="<option value=''>区</option>";
                        for(var key in res){
                            htmls=htmls+"<option value='"+key+"'>"+res[key]+"</option>"
                        }
                        $("#ognRegion").html(htmls)
                    }
                }
            })
        }

    }
    function organFrmSubmit() {
        if (!$("#organFrm").valid()) {
            console.log("valid fail")
            return;
        }

        var url;
        if($("#id").val()){
            url='/auth/systemOrgan/update'
        }else{
            url='/auth/systemOrgan/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data:$("#organFrm").serialize(),
            success: function (data) {
                if(data.success){
                    toastr_success(null,'/auth/systemOrgan/index')
                } else {

                    toastr.error("操作失败" + (data.errorDescription ? ("," + data.errorDescription) : ""));
                }
            }

        })
    }

    /**
     * 上传商家主图
     */
    function uploadMainpicImg($btn,ele) {

        $(ele).attr("disabled", true);
        data = new FormData();
        data.append("file", $("#mainpic_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/systemOrgan/uploadMainpic",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data.success){
                    $("#mainpic_img_url").attr("style", "margin: 10px;height:210px;width:375px").attr("src", data.result.fileUrl)
                    $("#mainpic_url").val(data.result.fileUrl)
                    $("#mainpic_url_preCode").val(data.result.preCode)
                }
                $(ele).attr("disabled", false);
            }
        })
    }
    /**
     * 上传商家logo
     */
    function uploadLogoImg($btn,ele) {

        $(ele).attr("disabled", true);
        data = new FormData();
        data.append("file", $("#logo_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/systemOrgan/uploadLogo",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data.success){
                    console.log(data.result)
                    $("#logo_img_url").attr("style", "margin: 10px;height:140px;width: 140px;border-radius:50%").attr("src", data.result.fileUrl)
                    $("#logo_url").val(data.result.fileUrl)
                    $("#logo_url_preCode").val(data.result.preCode)
                }
                $(ele).attr("disabled", false);
            }
        })
    }
    $(function () {
        var district=[[${district}]]
        var districtId=[[${districtId}]]
        var htmls_district="<option value=''>区</option>";
        for(var key in district){
            htmls_district=htmls_district+"<option value='"+key+"'>"+district[key]+"</option>"
        }
        $("#ognRegion").html(htmls_district).val(districtId)

        var city=[[${city}]]
        var cityId=[[${cityId}]]
        var htmls_city="<option value=''>市</option>";
        for(var key in city){
            htmls_city=htmls_city+"<option value='"+key+"'>"+city[key]+"</option>"
        }
        $("#city").html(htmls_city).val(cityId)

//        var province=[[${province}]]
        var provinceId=[[${provinceId}]]
        $("#province").val(provinceId)
//        console.log(district)
//        console.log(districtId)
    })

</script>
</body>
</html>