<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${organBo.id} eq null ? '注册商家' : '修改商家'"></h5><h5>(<span class="required-sign">*为必填</span>)
        </h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)" onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="organFrm" th:object="${organBo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构名称</label>
                    <div class="col-sm-3">
                        <input id="ognName" name="ognName" type="text" class="form-control" required="true" th:field="*{ognName}"
                               maxlength="30" aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构地区</label>
                    <div style="width: 100px;display: inline-block;margin-left: 15px" >
                        <select id="province" name="province" type="text" class="form-control" required="true" onchange="getCityByProvince()"
                               aria-required="true">
                            <option value="">省</option>
                            <option th:if="${province!=null}" th:each="state : ${province.keySet()}"
                                    th:value="${state}"
                                    th:text="${province.get(state)}">
                            </option>
                        </select>
                    </div>
                    <div style="width: 100px;display: inline-block" >
                        <select id="city" name="city" type="text" class="form-control" required="true"
                             onchange="getDistrictByCity()"  aria-required="true">
                            <option value="">市</option>

                        </select>
                    </div>
                    <div style="width: 100px;display: inline-block" >
                        <select id="ognRegion" name="ognRegion" type="text" class="form-control" required="true" th:field="*{ognRegion}"
                                aria-required="true">
                            <option value="">区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构地址</label>
                    <div class="col-sm-3">
                        <input id="ognAddress" name="ognAddress" type="text" class="form-control" required="true" th:field="*{ognAddress}"
                               aria-required="true">
                    </div>
                    <div class="col-sm-2">
                        <a href="javascript:void(0)" onclick="apisMap()">定位
                            <span style="display: inline-block;margin-top: 10px" class="glyphicon glyphicon-map-marker"
                                  aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>地区经度</label>
                    <div class="col-sm-3">
                        <input id="ognLng" name="ognLng" type="text" class="form-control" th:field="*{ognLng}"
                               required="true"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>地区纬度</label>
                    <div class="col-sm-3">
                        <input id="ognLat" name="ognLat" type="text" class="form-control" th:field="*{ognLat}"
                               required="true"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构简介</label>
                    <div class="col-sm-3">
                        <textarea id="ognShortIntroduce" name="ognShortIntroduce" type="text" class="form-control"
                                  required="true"
                                  maxlength="50" th:field="*{ognShortIntroduce}"
                                  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">机构成立日期</label>
                    <div class="col-sm-3">
                        <input id="ognCreateDateStr" name="ognCreateDateStr" type="text"
                               class="form-control datetimepicker_date" th:value="${organBo.ognCreateDate}"
                                >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方电话</label>
                    <div class="col-sm-3">
                        <input id="ognPhone" name="ognPhone" type="text" class="form-control" th:field="*{ognPhone}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方邮箱</label>
                    <div class="col-sm-3">
                        <input id="ognEmail" name="ognEmail" type="email" class="form-control" th:field="*{ognEmail}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方网址</label>
                    <div class="col-sm-3">
                        <input id="ognUrl" name="ognUrl" type="text" class="form-control" th:field="*{ognUrl}"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构介绍</label>
                    <div class="col-sm-3">
                        <textarea id="ognIntroduce" name="ognIntroduce" type="text" class="form-control" th:field="*{ognIntroduce}"
                               aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><input id="vipFlag" name="vipFlag" th:field="*{vipFlag}"
                                                                 type="checkbox">是否开通会员制度</label>
                    <div class="col-sm-3">
                        <input id="vipName" name="vipName" type="text" class="form-control" maxlength="5"
                               placeholder="会员名称" th:field="*{vipName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>营销权重</label>
                    <div class="col-sm-3">
                        <input id="marketWeight" name="marketWeight" type="number" class="form-control" required="true"
                               th:field="*{marketWeight}"
                               aria-required="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control"  th:field="*{remark}"
                               />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">功能配置</label>
                    <div class="col-sm-offset-2"
                         style="width:500px;height:250px;background-color: ghostwhite;border-radius: 10px">
                        <div style="display:inline-block;width: 200px;margin: 10px 20px">
                            <input type="checkbox" name="supportTag" th:field="*{supportTag}">
                            <span class="label">是否支持标签功能</span>
                        </div>
                        <div style="display:inline-block;width: 200px;margin: 10px 20px">
                            <input type="checkbox" name="privateFlag" th:field="*{privateFlag}">
                            <span class="label">是否机构资源私有</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商家宣传图</label>
                    <button  type="button" class="btn btn-info" id="mainpic_img_btn" onclick="$('#mainpic_img').click()">
                        <span>选择图片</span>

                    </button>
                    <input style="display:none" id="mainpic_img" type="file" onchange="uploadMainpicImg($('#mainpic_img_btn'),this)"/>
                </div>
                <div style="position:relative">
                    <div class="col-sm-offset-2"
                         style="display:inline-block;border:3px dashed #e6e6e6;height:240px;width: 405px">
                        <img id="mainpic_img_url" th:src="${mainpicImgUrl}"/>
                        <input type="hidden" name="mainpic_url" id="mainpic_url">
                        <input type="hidden" name="mainpicUrlPreCode" id="mainpic_url_preCode">
                    </div>
                    <div style="display:inline-block;width:160px;position:absolute;bottom:0;">推荐尺寸：宽375*高210</div>
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-2 control-label">商家logo</label>
                    <button type="button"  class="btn btn-info" id="logo_img_btn" onclick="$('#logo_img').click()">
                        <span>选择图片</span>

                    </button>
                    <input style="display: none" id="logo_img" type="file" onchange="uploadLogoImg($('#logo_img_btn'),this)"/>

                </div>
                <div style="position:relative">
                    <div class="col-sm-offset-2"
                         style="display:inline-block;border:3px dashed #e6e6e6;width: 165px;height: 165px">
                        <img id="logo_img_url" th:src="${logoImgUrl}"/>
                        <input type="hidden" name="logo_url" id="logo_url">
                        <input type="hidden" name="logoUrlPreCode" id="logo_url_preCode">
                    </div>
                    <div style="display:inline-block;width:160px;position:absolute;bottom:0;">推荐尺寸：宽140*高140</div>
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="organFrmSubmit()">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal inmodal" id="addressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">

            <input type="hidden" id="sourceId">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h3 style="text-align: left" id="modalTitle"></h3>

            </div>
            <div id="apismapBox" style="height:700px">

            </div>
        </div>
    </div>
</div>
<script type="text/template" id='apismapTmpl'>
    <iframe id="mapPage" width="100%" height="100%" frameborder=0
            src="http://apis.map.qq.com/tools/locpicker?search=1&type=1&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
    </iframe>
</script>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.tmpl.min.js}"></script>
<script th:inline="javascript">
    function vipBoxByVipflag() {
        var vipFlag = $("#vipFlag").is(":checked")
        if (vipFlag) {
            if (!$("#vipName").val()) {
                $("#vipName").val("会员")
            }
            $("#vipName").attr("readonly", false)

            $("#vipFlag").attr("value", true)
        } else {
            $("#vipName").val("").attr("readonly", true)
            $("#vipFlag").attr("value", false)
        }
    }
    $("#vipFlag").on("click", function () {
        vipBoxByVipflag()
    })

    /* 根据省获取市
     */
    function getCityByProvince() {
        var provinceId=$("#province").val();
        if(provinceId){
            $.ajax({
                type:"GET",
                url:"/auth/systemOrgan/getCityByProvince/"+provinceId,
                success:function (data) {
                    if(data.success){
                        var res=data.result;
                        var htmls="<option value=''>市</option>";
                        for(var key in res){
                            htmls=htmls+"<option value='"+key+"'>"+res[key]+"</option>"
                        }
                        $("#city").html(htmls)
                    } else {
                        toastr.error(data.errorDescription);
                    }
                },
                error: function (XMLHttpRequest) {
                    toastr_error_system(XMLHttpRequest.status);
                }
            })
        }
    }
    /* 根据市获取区
     */
    function getDistrictByCity() {
        var cityId=$("#city").val()
        if(cityId){
            $.ajax({
                type:"GET",
                url:"/auth/systemOrgan/getDistrictByCity/"+cityId,
                success:function (data) {
                    if(data.success){
                        var res=data.result;
                        var htmls="<option value=''>区</option>";
                        for(var key in res){
                            htmls=htmls+"<option value='"+key+"'>"+res[key]+"</option>"
                        }
                        $("#ognRegion").html(htmls)
                    } else {
                        toastr.error(data.errorDescription);
                    }
                },
                error: function (XMLHttpRequest) {
                    toastr_error_system(XMLHttpRequest.status);
                }
            })
        }
    }


    function organFrmSubmit() {
        if (!$("#organFrm").valid()) {
            console.log("valid fail")
            return;
        }

        var url;
        if($("#id").val()){
            url='/auth/systemOrgan/update'
        }else{
            url='/auth/systemOrgan/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data:$("#organFrm").serialize(),
            beforeSend: function () {
                layer.load(2, {shade: [0.1, '#fff']});
            },
            success: function (data) {
                if(data.success){
                    toastr_success(null, document.referrer)
                } else {
                    toastr_error(data.errorDescription, document.referrer);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                layer.closeAll();
            }
        })
    }


    /* 上传商家主图
     */
    function uploadMainpicImg($btn,ele) {
        $(ele).attr("disabled", true);
        data = new FormData();
        data.append("file", $("#mainpic_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/systemOrgan/uploadMainpic",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data.success){
                    $("#mainpic_img_url").attr("style", "margin: 10px;height:210px;width:375px").attr("src", data.result.fileUrl)
                    $("#mainpic_url").val(data.result.fileUrl)
                    $("#mainpic_url_preCode").val(data.result.preCode)
                } else {
                    toastr.error(data.errorDescription);
                }
                $(ele).attr("disabled", false);
            },
            error: function (XMLHttpRequest) {
                $(ele).attr("disabled", false);
                toastr_error_system(XMLHttpRequest.status);
            }
        })
    }
    /* 上传商家logo
     */
    function uploadLogoImg($btn,ele) {
        $(ele).attr("disabled", true);
        data = new FormData();
        data.append("file", $("#logo_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/systemOrgan/uploadLogo",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data.success){
                    $("#logo_img_url").attr("style", "margin: 10px;height:140px;width: 140px;border-radius:50%").attr("src", data.result.fileUrl)
                    $("#logo_url").val(data.result.fileUrl)
                    $("#logo_url_preCode").val(data.result.preCode)
                } else {
                    toastr.error(data.errorDescription);
                }
                $(ele).attr("disabled", false);
            },
            error: function (XMLHttpRequest) {
                $(ele).attr("disabled", false);
                toastr_error_system(XMLHttpRequest.status);
            }
        })
    }
    //腾讯地图插件
    function apisMap() {
        $("#apismapBox").html($("#apismapTmpl").tmpl())
        $("#addressModal").modal("show")

        window.addEventListener('message', function (event) {
            // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
            var loc = event.data;
            if (loc && loc.module == 'locationPicker') {//防止其他应用也会向该页面post信息，需判断module是否为'locationPicker'
                console.log('location', loc);
                $("#ognAddress").val(loc.poiaddress + loc.poiname)
                $("#ognLng").val(loc.latlng.lng)
                $("#ognLat").val(loc.latlng.lat)
            }
        }, false);
    }
    $(function () {
        if ($("#mainpic_img_url").attr("src")) {
            $("#mainpic_img_url").attr("style", "margin: 10px;height:210px;width:375px")
        }
        if ($("#logo_img_url").attr("src")) {
            $("#logo_img_url").attr("style", "margin: 10px;height:140px;width: 140px;border-radius:50%")
        }
        var district=[[${district}]]
        var districtId=[[${districtId}]]
        var htmls_district="<option value=''>区</option>";
        for(var key in district){
            htmls_district=htmls_district+"<option value='"+key+"'>"+district[key]+"</option>"
        }
        $("#ognRegion").html(htmls_district).val(districtId)

        var city=[[${city}]]
        var cityId=[[${cityId}]]
        var htmls_city="<option value=''>市</option>";
        for(var key in city){
            htmls_city=htmls_city+"<option value='"+key+"'>"+city[key]+"</option>"
        }
        $("#city").html(htmls_city).val(cityId)

        var provinceId=[[${provinceId}]]
        $("#province").val(provinceId)

        //是否有会员制度
        vipBoxByVipflag()


        $.validator.addMethod("expr_lng_lat", function (value, element) {
            var expr = /^(-)?\d+(\.\d{0,6})?$/
            return this.optional(element) || expr.test(value);
        }, "小数位数为1-6位!");
        $("#organFrm").validate({
            rules: {
                ognLng: {number: true, max: 180, min: -180, expr_lng_lat: true},
                ognLat: {number: true, max: 90, min: -90, expr_lng_lat: true},
            },
            messages: {
                ognLng: {
                    number: "经度为-180到180的数字!",
                    max: "经度为-180到180的数字!",
                    min: "经度为-180到180的数字!",
                    expr_lng_lat: "小数位数为1-6位!"
                },
                ognLat: {
                    number: "经度为-180到180的数字!",
                    max: "经度为-180到180的数字!",
                    min: "经度为-180到180的数字!",
                    expr_lng_lat: "小数位数为1-6位!"
                },
            },

        })

    })

</script>
</body>
</html>