<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 >查看商家</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)" onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="organFrm" th:object="${organBo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构名称</label>
                    <div class="col-sm-3">
                        <input id="organName" name="organName" type="text" class="form-control" required="true" th:field="*{ognName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构地区</label>
                    <div style="width: 100px;display: inline-block;margin-left: 15px">
                        <input id="province" name="province" type="text" class="form-control" required="true" th:value="${province}"
                                aria-required="true">

                        </input>
                    </div>
                    <div style="width: 100px;display: inline-block;margin-left: 15px">
                        <input id="city" name="city" type="text" class="form-control" required="true"
                                th:value="${city}"  aria-required="true">

                        </input>
                    </div>
                    <div style="width: 100px;display: inline-block;margin-left: 15px">
                        <input id="ognRegion" name="ognRegion" type="text" class="form-control" required="true" th:value="${district}"
                                aria-required="true">

                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构地址</label>
                    <div class="col-sm-3">
                        <input id="ognAddress" name="ognAddress" type="text" class="form-control" required="true" th:field="*{ognAddress}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地区经度</label>
                    <div class="col-sm-3">
                        <input  name="ognLng" type="text" class="form-control" required="true" th:field="*{ognLng}"
                                aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">地区纬度</label>
                    <div class="col-sm-3">
                        <input  name="ognLat" type="text" class="form-control" required="true" th:field="*{ognLat}"
                                aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构简介</label>
                    <div class="col-sm-3">
                        <textarea id="ognShortIntroduce"  name="ognShortIntroduce" type="text" class="form-control" required="true" th:field="*{ognShortIntroduce}"
                                  aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构成立日期</label>
                    <div class="col-sm-3">
                        <input id="ognCreateDate" name="ognCreateDate" type="text" class="form-control" required="true" th:field="*{ognCreateDate}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方电话</label>
                    <div class="col-sm-3">
                        <input id="ognPhone" name="ognPhone" type="text" class="form-control" required="true" th:field="*{ognPhone}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方邮箱</label>
                    <div class="col-sm-3">
                        <input id="ognEmail" name="ognEmail" type="text" class="form-control" required="true" th:field="*{ognEmail}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构官方网址</label>
                    <div class="col-sm-3">
                        <input id="ognUrl" name="ognUrl" type="text" class="form-control" required="true" th:field="*{ognUrl}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>机构介绍</label>
                    <div class="col-sm-3">
                        <textarea style="height:120px" id="ognIntroduce" name="ognIntroduce" type="text"
                                  class="form-control" required="true" th:field="*{ognIntroduce}"
                                  aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><input id="vipFlag" name="vipFlag" type="checkbox"
                                                                 th:field="*{vipFlag}">是否开通会员制度</label>
                    <div class="col-sm-3">
                        <input id="vipName" name="vipName" type="text" class="form-control" th:field="*{vipName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>营销权重</label>
                    <div class="col-sm-3">
                        <input id="marketWeight" name="marketWeight" type="text" class="form-control" required="true" th:field="*{marketWeight}"
                               aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" required="true" th:field="*{remark}"
                                  aria-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">功能配置</label>
                    <div class="col-sm-offset-2"
                         style="width:500px;height:250px;background-color: ghostwhite;border-radius: 10px">
                        <div style="display:inline-block;width: 200px;margin: 10px 20px">
                            <input type="checkbox" name="supportTag" th:field="*{supportTag}">
                            <span class="label">是否支持标签功能</span>
                        </div>
                        <div style="display:inline-block;width: 200px;margin: 10px 20px">
                            <input type="checkbox" name="privateFlag" th:field="*{privateFlag}">
                            <span class="label">是否机构资源私有</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商家宣传图</label>
                </div>
                <div class="col-sm-offset-2" style="border:3px dashed #e6e6e6;height:240px;width: 405px">
                    <img id="mainpic_img_url" th:src="${mainpicImgUrl}"/>
                    <input type="hidden" name="mainpic_url" id="mainpic_url">
                    <input type="hidden" name="mainpicUrlPreCode" id="mainpic_url_preCode">
                </div>

                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-2 control-label">商家logo</label>


                </div>
                <div class="col-sm-offset-2" style="border:3px dashed #e6e6e6;width: 160px;height: 160px">
                    <img id="logo_img_url" th:src="${logoImgUrl}"/>
                    <input type="hidden" name="logo_url" id="logo_url" >
                    <input type="hidden" name="logoUrlPreCode" id="logo_url_preCode">
                </div>

            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">

    $(function () {
        if ($("#mainpic_img_url").attr("src")) {
            $("#mainpic_img_url").attr("style", "margin: 10px;height:210px;width:375px")
        }
        if ($("#logo_img_url").attr("src")) {
            $("#logo_img_url").attr("style", "margin: 10px;height:140px;width: 140px;border-radius:50%")
        }
        $("#organFrm").find("input").attr("readonly",true)
        $("#organFrm").find("textarea").attr("readonly",true)
        $("#organFrm").find("select").attr("disabled",true)
    })

</script>
</body>
</html>