<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${memberChildHonerPo.id} eq null ? '新增荣誉' : '修改荣誉'"></h5>
            <h5>（<span class="required-sign">*为必填</span>）</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)"
               onclick="history.back()">返回</a>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm" th:object="${memberChildHonerPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>产品</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="courseId" name="courseId"
                                class="form-control" required="true" aria-required="true"
                                th:field="*{courseId}" onchange="changeCourseId(this)">
                            <option value="">请选择</option>
                            <option th:each="state : ${courseMap.keySet()}"
                                    th:value="${state}"
                                    th:text="${courseMap.get(state)}">
                            </option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{courseName}" readonly="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>班级</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="classId" name="classId" class="form-control"
                                required="true" aria-required="true"
                                th:field="*{classId}" onchange="changeClassId(this)">
                            <option value="">请选择</option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{className}" readonly="true">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>昵称</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="childId" name="childId" class="form-control"
                                required="true" aria-required="true"
                                th:field="*{childId}">
                            <option value="">请选择</option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{childNickName}" readonly="true">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>荣誉内容</label>
                    <div class="col-sm-5">
                        <textarea style="height:250px" id="content" name="content" class="form-control" required="true"
                                  aria-required="true"
                                  th:field="*{content}">
                        </textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="frmSubmit()">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">
    function frmSubmit() {
        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }

        var url;
        if ($("#id").val()) {
            url = '/auth/childHonor/update'
        } else {
            url = '/auth/childHonor/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data: $("#frm").serialize(),
            success: function (data) {
                if (data.success) {
                    toastr_success(null, document.referrer)
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            }
        })
    }
    function changeClassId(ele) {
        var classId = $(ele).val()
        if (classId) {
            $.ajax({
                type: "GET",
                url: "/auth/childHonor/findNicknameByClassId/" + classId,
                success: function (data) {
                    if (data.success) {
                        var childMap = data.result;
                        var htmls = '<option value="">请选择</option>';
                        for (var item in childMap) {
                            htmls = htmls + '<option value=' + item + '>' + childMap[item] + '</option>'
                        }
                        $("#childId").html(htmls)
                    } else {
                        toastr.error(data.errorDescription);
                    }
                },
                error: function (XMLHttpRequest) {
                    toastr_error_system(XMLHttpRequest.status);
                }
            })
        }

    }
    function changeCourseId(ele) {
        var courseId = $(ele).val()
        if (courseId) {
            $.ajax({
                type: "GET",
                url: "/auth/childHonor/findClassByCourseId/" + $(ele).val(),
                success: function (data) {
                    if (data.success) {
                        var classMap = data.result;
                        var htmls = '<option value="">请选择</option>';
                        for (var item in classMap) {
                            htmls = htmls + '<option value=' + item + '>' + classMap[item] + '</option>'
                        }
                        $("#classId").html(htmls)
                    } else {
                        toastr.error(data.errorDescription);
                    }
                },
                error: function (XMLHttpRequest) {
                    toastr_error_system(XMLHttpRequest.status);
                }
            })
        }
    }

</script>
</body>
</html>