<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="'查看荣誉'"></h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger"
               href="/auth/childHonor/index">返回</a>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm" th:object="${memberChildHonerPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">课程：</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="courseId" name="courseId"
                                class="form-control" required="true" aria-required="true"
                                th:field="*{courseId}" onchange="changeCourseId(this)">
                            <option value="">请选择</option>
                            <option th:each="state : ${courseMap.keySet()}"
                                    th:value="${state}"
                                    th:text="${courseMap.get(state)}">
                            </option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{courseName}" readonly="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">班级：</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="classId" name="classId" class="form-control"
                                required="true" aria-required="true"
                                th:field="*{classId}" onchange="changeClassId(this)">
                            <option value="">请选择</option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{className}" readonly="true">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">孩子：</label>
                    <div class="col-sm-3">
                        <select th:if="${memberChildHonerPo.id==null}" id="childId" name="childId" class="form-control"
                                required="true" aria-required="true"
                                th:field="*{childId}">
                            <option value="">请选择</option>
                        </select>
                        <input th:if="${memberChildHonerPo.id!=null}" type="text" class="form-control"
                               th:field="*{childTrueName}" readonly="true">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">荣誉内容：</label>
                    <div class="col-sm-5">
                        <textarea style="height:250px" id="content" name="content" class="form-control" required="true"
                                  aria-required="true"
                                  th:field="*{content}" readonly="true">
                        </textarea>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">


</script>
</body>
</html>