<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${systemUserPo.id} eq null ? '新增用户' : '修改用户'"></h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="userFrm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号：</label>
                    <div class="col-sm-3">
                        <input id="mobile" name="mobile" type="text" class="form-control" required="true"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-3">
                        <input id="userName" name="userName" type="text" class="form-control" required="true"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-3">
                        <input id="password" name="password" type="text" class="form-control" required="true"
                               aria-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-3">
                        <input id="email" name="email" type="text" class="form-control" required="true"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型：</label>
                    <div class="col-sm-3">
                        <select id="type" name="type" class="form-control" required="true" aria-required="true" >
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemUserType).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemUserType.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商户id：</label>
                    <div class="col-sm-3">
                        <input id="organId" name="organId" type="text" class="form-control" required="true"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-3">
                        <select id="status" name="status" class="form-control" required="true" aria-required="true" >
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemUserStatus).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemUserStatus.+${state.literal}}">
                            </option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色：</label>
                    <div class="col-sm-4">
                        <table class="table table-striped table-hover table-bordered dataTable" id="editable"
                               aria-describedby="editable_info">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>角色</th>

                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody id="role_tb_body">

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-primary" type="button" onclick="userFrmSubmit()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">
    function userFrmSubmit() {
//        if (!$("#userFrm").valid()) {
//            console.log("valid fail")
//            return;
//        }
        var roles = []
        $("#role_tb_body tr").each(function () {
            console.log($(this).html())
            var id=$(this).find("input[name='id']").eq(0).val()
            var roleCode=$(this).find("input[name='roleCode']").eq(0).val()
            roles.push({id:id,roleCode:roleCode});
        })
//        for (var i = 0; i < nodes.length; i++) {
//            roles.push({menuId:nodes[i].id,authority:nodes[i].authority});
//        }
        var params={
            id: $("#id").val(),
            mobile: $("#mobile").val(),
            userName: $("#userName").val(),
            password: $("#password").val(),
            type: $("#type").val(),
            status: $("#status").val(),
            remark: $("#remark").val(),
            systemRolePos: roles
        }
        $.ajax({
            type: 'POST',
            url: '/auth/user/create',
            data:JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

            }

        })
    }
    
    $(function () {
        var type=$("#type").val();
        if(type){
            $.ajax({
                type:"GET",
                url:"/auth/user/getRoleByUserType/"+type,
                success:function (data) {
                    if(data.success){
                        var res=data.result;
                        var htmls="";
                        for(var i=0;i<res.length;i++){
                            htmls=htmls+"<tr><td><input name='id' type='checkbox'value='"+res[i].id+"'/>" +
                                    "<input name='roleCode' type='hidden' value='"+res[i].roleCode+"'/>"+
                                "</td><td>"+res[i].roleName+"</td><td>"+(res[i].remark==null?'':res[i].remark)+"</td></tr>"

                        }
                        $("#role_tb_body").html(htmls)
                    }
                }
            })
        }
    })

</script>
</body>
</html>