<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${systemUserPo.id} eq null ? '新增用户' : '修改用户'"></h5>
            <h5>（<span class="required-sign">*为必填</span>）</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)"
               onclick="history.back()">返回</a>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="userFrm" th:object="${systemUserPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>手机号</label>
                    <div class="col-sm-3">
                        <input id="mobile" name="mobile" type="text" class="form-control" required="true" th:field="*{mobile}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>用户名</label>
                    <div class="col-sm-3">
                        <input id="userName" name="userName" type="text" class="form-control" required="true" th:field="*{userName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>密码</label>
                    <div class="col-sm-3">
                        <input id="password" name="password" type="text" class="form-control" required="true" th:field="*{password}"
                               aria-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-3">
                        <input id="email" name="email" type="text" class="form-control" th:field="*{email}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>类型</label>
                    <div class="col-sm-3">
                        <select id="type" name="type" class="form-control" required="true" aria-required="true" onchange="changeType(this)" th:field="*{type}"
                       th:disabled="${systemUserPo.id!=null} ">
                            <option value="">请选择</option>
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemUserType).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemUserType.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="organIdBox" style="display: none">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>商户id</label>
                    <div class="col-sm-3">
                        <input id="ognId" name="ognId" type="text" class="form-control" required="true"
                               aria-required="true" th:field="*{ognId}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">角色</label>
                    <div class="col-sm-4">
                        <table class="table table-striped table-hover table-bordered dataTable" id="editable"
                               aria-describedby="editable_info">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>角色</th>

                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody id="role_tb_body">

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="userFrmSubmit()">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">
    function userFrmSubmit() {
        if (!$("#userFrm").valid()) {
            console.log("valid fail")
            return;
        }

        if ($("#role_tb_body").find("input[type='checkbox']:checked").length == 0) {
            return;
        }
        var roles = []
        $("#role_tb_body tr").each(function () {
            if($(this).find("input[name='id']").eq(0).is(":checked")){
                var id=$(this).find("input[name='id']").eq(0).val()
                var roleCode=$(this).find("input[name='roleCode']").eq(0).val()
                roles.push({id:id,roleCode:roleCode});
            }
        })

        var params={
            id: $("#id").val(),
            mobile: $("#mobile").val(),
            userName: $("#userName").val(),
            password: $("#password").val(),
            email: $("#email").val(),
            type: $("#type").val(),
            ognId: $("#ognId").val(),
            status: $("#status").val(),
            remark: $("#remark").val(),
            systemRolePos: roles
        }
        var url;
        if($("#id").val()){
            url='/auth/user/update'
        }else{
            url='/auth/user/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data:JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                layer.load(2, {shade: [0.1, '#fff']});
            },
            success: function (data) {
                if(data.success){
                    toastr_success(null,'/auth/user/index')
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                layer.closeAll();
            }
        })
    }
    
    function changeType(ele) {
        if($(ele).val()=='merchant'){
            $("#organIdBox").show();
        }else{
            $("#organIdBox").hide();
        }
        $.ajax({
            type:"GET",
            url:"/auth/user/getRoleByUserType/"+$(ele).val(),
            success:function (data) {
                if(data.success){
                    var res=data.result;
                    var htmls="";
                    for(var i=0;i<res.length;i++){
                        htmls=htmls+"<tr><td><input name='id' type='checkbox'value='"+res[i].id+"'/>" +
                            "<input name='roleCode' type='hidden' value='"+res[i].roleCode+"'/>"+
                            "</td><td>"+res[i].roleName+"</td><td>"+(res[i].remark==null?'':res[i].remark)+"</td></tr>"

                    }
                    $("#role_tb_body").html(htmls)
                }
            }
        })
    }
    
    $(function () {
        var type=$("#type").val();
        var res=[[${roleList}]];
        var roleIds=[[${roleIds}]];
        var htmls="";
        if(res!=undefined&&res.length>0) {
            for (var i = 0; i < res.length; i++) {
                htmls = htmls + "<tr><td><input name='id' type='checkbox'value='" + res[i].id + "'/>" +
                    "<input name='roleCode' type='hidden' value='" + res[i].roleCode + "'/>" +
                    "</td><td>" + res[i].roleName + "</td><td>" + (res[i].remark == null ? '' : res[i].remark) + "</td></tr>"

            }
            $("#role_tb_body").html(htmls)
            for (var i = 0; i < roleIds.length; i++) {
                $("#role_tb_body").find("input[value=" + roleIds[i] + "]").attr("checked", true)
            }
        }
        if (type == "merchant") {
            $("#organIdBox").show();
        } else {
            $("#organIdBox").hide();
        }
//        if (type) {
//            $.ajax({
//                type: "GET",
//                url: "/auth/user/getRoleByUserType/" + type,
//                success: function (data) {
//                    if (data.success) {
//                        var res = data.result;
//                        var htmls = "";
//                        for (var i = 0; i < res.length; i++) {
//                            htmls = htmls + "<tr><td><input name='id' type='checkbox'value='" + res[i].id + "'/>" +
//                                "<input name='roleCode' type='hidden' value='" + res[i].roleCode + "'/>" +
//                                "</td><td>" + res[i].roleName + "</td><td>" + (res[i].remark == null ? '' : res[i].remark) + "</td></tr>"
//
//                        }
//                        $("#role_tb_body").html(htmls)
//                    }
//                }
//            })
//        }
    })

</script>
</body>
</html>