<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">
    <header>
        <th:block layout:fragment="links">
        </th:block>

    </header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${systemUserPo.id} eq null ? '查看用户' : '查看用户'"></h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="/auth/user/index" >返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="userFrm" th:object="${systemUserPo}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号：</label>
                    <div class="col-sm-3">
                        <input id="mobile" name="mobile" type="text" class="form-control" required="true" th:field="*{mobile}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-3">
                        <input id="userName" name="userName" type="text" class="form-control" required="true" th:field="*{userName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-3">
                        <input id="password" name="password" type="text" class="form-control" required="true" th:field="*{password}"
                               aria-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-3">
                        <input id="email" name="email" type="text" class="form-control" required="true" th:field="*{email}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型：</label>
                    <div class="col-sm-3">
                        <select id="type" name="type" class="form-control" required="true" aria-required="true" onchange="changeType(this)" th:field="*{type}">
                            <option value="">请选择</option>
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemUserType).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemUserType.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" th:if="${#stringTools.equals(systemUserPo.type,'merchant')}">
                    <label class="col-sm-2 control-label">商户id：</label>
                    <div class="col-sm-3">
                        <input id="organId" name="organId" type="text" class="form-control" required="true" th:field="*{ognId}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-3">
                        <select id="status" name="status" class="form-control" required="true" aria-required="true" >
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemUserStatus).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemUserStatus.+${state.literal}}">
                            </option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">角色：</label>
                    <div class="col-sm-4">
                        <table class="table table-striped table-hover table-bordered dataTable" id="editable"
                               aria-describedby="editable_info">
                            <thead>
                            <tr>
                                <th></th>
                                <th>角色</th>

                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody id="role_tb_body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exedit.js}"></script>
<script th:inline="javascript">
    $(function () {
        var type=$("#type").val();
        var res=[[${roleList}]];
        var roleIds=[[${roleIds}]];
        console.log(roleIds)
        var htmls="";
        if(res!=undefined&&res.length>0){
            for(var i=0;i<res.length;i++){
                htmls=htmls+"<tr><td><input name='id' type='checkbox'value='"+res[i].id+"'/>" +
                    "<input name='roleCode' type='hidden' value='"+res[i].roleCode+"'/>"+
                    "</td><td>"+res[i].roleName+"</td><td>"+(res[i].remark==null?'':res[i].remark)+"</td></tr>"

            }
            $("#role_tb_body").html(htmls)
            for(var i=0;i<roleIds.length;i++){
                $("#role_tb_body").find("input[value="+roleIds[i]+"]").attr("checked",true)
            }
        }
        $("#userFrm").find("input").attr("readonly",true)
        $("#userFrm").find("select").attr("disabled",true)
    })
</script>
</body>
</html>