<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common_header}">

</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" style="width: 64px;height:64px" th:src="@{/img/user_ali.png}"/></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold"
                                                                  th:text="${currentUser.mobile}"></strong></span>
                                    <span class="text-muted text-xs block" th:text="${currentUser.userName}"></span>

                                <!--</span><b class="caret"></b></span>-->
                                </span>
                        </a>

                    </div>
                    <div class="logo-element" onclick="spreadMenu()">EP
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" id="homePage" href="/auth/homePage">
                        <i class="fa fa-home"></i>
                        <span class="nav-label" >首页</span>
                        <!--<span class="fa arrow"></span>-->
                    </a>


                </li>
                <!--左侧菜单-->
                <li th:each="item:${leftMenu}">
                    <a href="javascript:void(0)">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label" th:text="${item.menuName}"></span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li th:each="child:${item.childList}">
                            <a class="J_menuItem" th:href="'/auth'+${child.href}" th:value="${child.href}"
                               th:text="${child.menuName}"></a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown ">
                        <a class="J_menuItem" aria-expanded="false" href="/auth/settingView">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="glyphicon-class">个人</span>
                        </a>

                    </li>
                    <!--<li class="dropdown ">-->
                    <!--<a class="" aria-expanded="false">-->
                    <!--<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
                    <!--<span class="glyphicon-class" >设置</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="dropdown ">
                        <a class="" aria-expanded="false" href="/logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            <span class="glyphicon-class" >退出</span>
                        </a>
                    </li>
                    <!--<li class="dropdown hidden-xs">-->
                        <!--<a class="right-sidebar-toggle" aria-expanded="false">-->
                            <!--<i class="fa fa-tasks"></i> 主题-->
                        <!--</a>-->
                    <!--</li>-->


                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <!--<a href="javascript:;" class="active J_menuTab" data-id="/index.html">首页-->
                        <!--<i class="fa fa-times-circle"></i>-->
                    <!--</a>-->

                </div>
            </nav>
            <button class="roll-nav roll-right "><i class="fa fa-forward"></i>
            </button>

        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe id="mainContentIframe" class="J_iframe" name="iframe0" width="100%" height="100%" src=""
                    frameborder="0" data-id="" seamless></iframe>
        </div>
        <!--<div style="height:calc(100% - 140px);overflow-y:auto;">-->
        <!--<div  layout:fragment="main-content">-->

        <!--</div>-->

        <!--</div>-->
        <div class="footer">
            <div class="pull-right">&copy; 2014-2015
            </div>
        </div>
    </div>
    <!--右侧部分结束-->


</div>

<!--footer start-->
<footer th:replace="~{fragments/footer :: footer}">

</footer>

<script th:replace="~{fragments/scripts}">
</script>
<script th:inline="javascript">
    function spreadMenu() {
        //展开左侧菜单
        $("body").removeClass("mini-navbar")
    }
    $(function () {
        //默认首页iframe
        $("#homePage").click()
    })
</script>
</body>

</html>


