<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">

    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${organAccountPo.id} eq null ? '新增教师' : '修改教师'"></h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)" onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm" th:object="${organAccountPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构内部名称：</label>
                    <div class="col-sm-3">
                        <input id="accountName" name="accountName" type="text" class="form-control" required="true" th:field="*{accountName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">对外昵称：</label>
                    <div class="col-sm-3">
                        <input id="nickName" name="nickName" type="text" class="form-control" required="true" th:field="*{nickName}"
                                aria-required="true">

                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">介绍：</label>
                    <div class="col-sm-3">
                        <textarea id="introduce" name="introduce" type="text" class="form-control"
                                  th:field="*{introduce}"
                        >
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-3">
                        <select id="status" name="status" type="text" class="form-control" required="true" th:field="*{status}"
                                aria-required="true">
                            <option value="">请选择</option>
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpOrganAccountStatus).values()}"
                                    th:value="${state}"
                                    th:text="#{EpOrganAccountStatus.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">关联手机号：</label>
                    <div class="col-sm-3">
                        <input id="referMobile" name="referMobile" type="text" class="form-control" required="true" th:field="*{referMobile}"
                                aria-required="true">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" th:field="*{remark}"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-2 control-label">教师头像</label>
                    <button type="button" class="btn btn-info avatar_url" id="avatar_img_btn"
                            onclick="$('#avatar_img').click()">
                        <span>选择图片</span>

                    </button>
                    <input style="display: none" id="avatar_img" type="file"
                           onchange="uploadAvatarImg($('#avatar_img_btn'),this)"/>

                </div>
                <div class="col-sm-offset-2 teacher-avatar-box">
                    <img id="avatar_img_url" class="teacher-avatar-img-url" th:src="${avatarImgUrl}" required="true"/>
                    <input type="hidden" name="avatar_url" id="avatar_url">
                    <input type="hidden" name="avatarUrlPreCode" id="avatar_url_preCode">

                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 20px">
                        <button class="btn btn-primary" type="button" onclick="frmSubmit()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">

    /**
     * 上传教师头像
     */
    function uploadAvatarImg($btn, ele) {
        $(ele).attr("disabled", true);
        data = new FormData();
        data.append("file", $("#avatar_img")[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/auth/organAccount/uploadAvatar",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    console.log(data.result)
                    $("#avatar_img_url").attr("src", data.result.fileUrl)
                    $("#avatar_url").val(data.result.fileUrl)
                    $("#avatar_url_preCode").val(data.result.preCode)
                }
                $(ele).attr("disabled", false);
            },
            error: function (XMLHttpRequest) {
                $(ele).attr("disabled", false);
                toastr_error_system(XMLHttpRequest.status);
            }
        })
    }

    function frmSubmit() {
        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }
        if (!checkFormImgRequired([{eleId: "avatar_url", msg: "请上传教师头像"}])) {
            return
        }

        var url;
        if($("#id").val()){
            url='/auth/organAccount/update'
        }else{
            url='/auth/organAccount/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data:$("#frm").serialize(),
            beforeSend: function () {
                $("button").attr("disabled", true)
                addLoadingWrap();
            },
            success: function (data) {
                if(data.success){
                    toastr_success(null,'/auth/organAccount/index')
                }
            },
            complete: function () {
                $("button").attr("disabled", false)
                removeLoadingWrap();
            }
        })
    }


    $(function () {

    })

</script>
</body>
</html>