<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">


    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text=" '查看教师'"></h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)" onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm" th:object="${organAccountPo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构内部名称：</label>
                    <div class="col-sm-3">
                        <input id="accountName" name="accountName" type="text" class="form-control" required="true" th:field="*{accountName}"
                               aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">对外昵称：</label>
                    <div class="col-sm-3">
                        <input id="nickName" name="nickName" type="text" class="form-control" required="true" th:field="*{nickName}"
                                aria-required="true">

                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">介绍：</label>
                    <div class="col-sm-3">
                        <textarea id="introduce" name="introduce" type="text" class="form-control" required="true" th:field="*{introduce}"
                               aria-required="true">
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">关联手机号：</label>
                    <div class="col-sm-3">
                        <input id="referMobile" name="referMobile" type="text" class="form-control" required="true" th:field="*{referMobile}"
                                aria-required="true">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" required="true" th:field="*{remark}"
                               aria-required="true">
                        </textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-2 control-label">教师头像</label>

                </div>
                <div class="col-sm-offset-2" style="border:3px dashed #e6e6e6;width: 160px;height: 160px">
                    <img id="avatar_img_url" class="teacher-avatar-img-url" th:src="${avatarImgUrl}"/>
                    <input type="hidden" name="avatar_url" id="avatar_url">
                    <input type="hidden" name="avatarUrlPreCode" id="avatar_url_preCode">
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>

<script th:inline="javascript">

    $(function () {
        $("#frm").find("input").attr("disabled",true)
        $("#frm").find("select").attr("disabled",true)
        $("#frm").find("textarea").attr("disabled",true)
    })

</script>
</body>
</html>