<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">

    </th:block>
</header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${organVipBo.id} eq null ? '新增会员' : '修改会员'"></h5>
            <h5>（<span class="required-sign">*为必填</span>）</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)"
               onclick="history.back()">返回</a>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="frm" th:object="${organVipBo}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>手机号</label>
                    <div class="col-sm-3">
                        <input id="mobile" name="mobile" type="text" class="form-control" required="true"
                               th:field="*{mobile}"
                               aria-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">会员开始时间</label>
                    <div class="col-sm-3">
                        <input id="startTime" name="startTime" type="text" class="form-control datetimepicker"
                               th:field="*{startTime}">
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">会员结束时间</label>
                    <div class="col-sm-3">
                        <input id="endTime" name="endTime" type="text" class="form-control datetimepicker"
                               th:field="*{endTime}">
                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>会员等级</label>
                    <div class="col-sm-3">
                        <select id="level" name="level" type="text" class="form-control" required="true"
                                th:field="*{level}" aria-required="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>入会费用（元）</label>
                    <div class="col-sm-3">
                        <input id="prize" name="prize" class="form-control" required="true"
                               th:field="*{prize}"
                               aria-required="true">
                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" th:field="*{remark}"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 20px">
                        <button class="btn btn-primary" type="button" onclick="frmSubmit()">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:inline="javascript">


    function frmSubmit() {
        if (!$("#frm").valid()) {
            console.log("valid fail")
            return;
        }

        var url;
        if ($("#id").val()) {
            url = '/auth/organVip/update'
        } else {
            url = '/auth/organVip/create'
        }
        $.ajax({
            type: 'POST',
            url: url,
            data: $("#frm").serialize(),
            beforeSend: function () {
                $("button").attr("disabled", true)
                addLoadingWrap();
            },
            success: function (data) {
                if (data.success) {
                    toastr_success(null, document.referrer)
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                $("button").attr("disabled", false)
                removeLoadingWrap();
            }
        })
    }


    $(function () {
        jQuery.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请填写正确的手机号码!");
        $("#frm").validate({
            rules: {
                prize: {number: true, min: 0},
                mobile: {isMobile: true}
            },
            messages: {
                mobile: "请填写正确的手机号码!"
            },
        })

    })

</script>
</body>
</html>