<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">

</head>
<header>
    <th:block layout:fragment="links">
        <link th:href="@{/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet">
    </th:block>
</header>
<body>

<div>
    <div class="col-sm-12 gray-bg">
        <div class="row">
            <div class="col-sm-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统功能</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <ul id="treeDemo" class="ztree"></ul>

                    </div>
                </div>
            </div>
            <div class="col-sm-7 row">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <p id="buttonBox">
                            <button type="button" class="btn btn-w-m btn-primary" onclick="creatMenuShow()">新增菜单
                            </button>
                            <button style="display: none" type="button" class="btn btn-w-m btn-success" data-id=""
                                    onclick="updateMenuShow(this)">修改菜单
                            </button>

                            <button style="display: none" type="button" class="btn btn-w-m btn-danger" data-id=""
                                    onclick="delMenuShow()">删除菜单
                            </button>
                        </p>
                    </div>
                </div>


                <div class="ibox float-e-margins" id="menuBox" style="display: none">
                    <div class="ibox-title">
                        <input type="hidden" id="act_type"><!--对树的单击事件不同操作-->
                        <h5 class="r_act">查看详情</h5>
                        <h5 class="c_act">新增详情</h5>
                        <h5 class="u_act">编辑详情</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="menuFrm">

                            <input type="hidden" id="id" name="id">
                            <input type="hidden" id="parentId" name="parentId">
                            <div class="form-group">

                                <label class="col-sm-3 control-label">父级菜单：</label>
                                <div class="col-sm-8">
                                    <input id="parentName" type="text" class="form-control" name="parentName"
                                           required="true" aria-required="true" readonly="true" placeholder="点击菜单选择">
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-3 control-label">目标：</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<select id="target" type="" class="form-control" name="target" required="true"-->
                                            <!--aria-required="true">-->
                                        <!--<option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemMenuTarget).values()}"-->
                                                <!--th:value="${state}"-->
                                                <!--th:text="#{EpSystemMenuTarget.+${state.literal}}">-->
                                        <!--</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">名称：</label>
                                <div class="col-sm-8">
                                    <input id="menuName" type="" class="form-control" name="menuName" required="true"
                                           aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">类型：</label>
                                <div class="col-sm-8">
                                    <select id="menuType" type="" class="form-control" name="menuType" required="true"
                                            aria-required="true">
                                        <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemMenuMenuType).values()}"
                                                th:value="${state}"
                                                th:text="#{EpSystemMenuMenuType.+${state.literal}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">链接：</label>
                                <div class="col-sm-8">
                                    <input id="href" type="text" class="form-control" name="href" required="true"
                                           aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序：</label>
                                <div class="col-sm-8">
                                    <input id="sort" type="number" class="form-control" name="sort" value="0"
                                           required="true" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">权限标识：</label>
                                <div class="col-sm-8">
                                    <input id="permission" type="text" name="permission" class="form-control"
                                           required="true" aria-required="true"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态：</label>
                                <div class="col-sm-8">
                                    <select id="status" type="" class="form-control" name="status" required="true"
                                            aria-required="true">
                                        <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemMenuStatus).values()}"
                                                th:value="${state}"
                                                th:selected="${#stringTools.equals(state,'enable')}"
                                                th:text="#{EpSystemMenuStatus.+${state.literal}}"
                                        >
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">备注：</label>
                                <div class="col-sm-8">
                                    <textarea id="remark" name="remark" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary c_act u_act" id="saveBtn" type="button" onclick="saveSubmit()">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exedit.js}"></script>

<script th:inline="javascript">
    var setting = {
        view: {

        },

        check: {
            enable: true,
            chkStyle: "checkbox",//勾选 checkbox 对于父子节点的关联关系
            chkboxType: { "Y": "s", "N": "ps" }//勾选 checkbox 对于父子节点的关联关系
        },
//            edit: {
//                enable: true
//            },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: zTreeOnClick,
            onDblClick: zTreeOnDbClick,
        }


    };
    var zNodes = [
        [# th:each="menuPojo :${menuList}"]
        {id: [[${menuPojo.id}]], pId:[[${menuPojo.parentId}]], name:[[${menuPojo.menuName}]], open:true},
        [/]
    ];


    function zTreeOnClick() {
        if ($("#act_type").val() == 'c_act') {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.getSelectedNodes();
            console.log(nodes[0])
            $("#parentId").val(nodes[0].id)
            $("#parentName").val(nodes[0].name)
            $("#buttonBox").find("button").data("id", nodes[0].id).show()
        } else {
            //获取鼠标点击的标签（单个）START
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.getSelectedNodes();
            //获取鼠标点击的标签（单个）END
            $("#buttonBox").find("button").data("id", nodes[0].id).show()
        }


    }

    function resetFrmField() {
        $("#menuFrm").validate({}).resetForm()
        $("#menuBox").find("input").val("");
    }

    function readMenuShow(id) {
        resetFrmField();
        menuBoxTitle("r_act")
        $("#permission").attr("readonly",false)
        $("#saveBtn").hide();
        $.ajax({
            type: 'GET',
            url: '/auth/menu/view/' + id,
            success: function (data) {
                if (data.success) {
                    console.log(data.result)
                    var menu = data.result
                    $("#id").val(menu.id)
                    $("#parentId").val(menu.parentId)
                    $("#parentName").val(menu.parentName)
                    $("#menuName").val(menu.menuName)
                    $("#href").val(menu.href)
                    $("#sort").val(menu.sort)
                    $("#target").val(menu.target)
                    $("#permission").val(menu.permission)

                    $("#status").val(menu.status)
                    $("#remark").val(menu.remark)

                }

            }

        })
    }
    /**
     * 新增菜单初始化
     */
    function creatMenuShow() {
        resetFrmField();
        menuBoxTitle("c_act")
        $("#permission").attr("readonly",false)
    }
    function menuBoxTitle(titleClazz) {
        $("#menuBox").show()
        $("#act_type").val(titleClazz)
        var clazz = $("#act_type").val()
        console.log($("#act_type").parent())
        $("#act_type").parent().children().hide()
        $("#act_type").parent().find("." + clazz).show()
        if($("#saveBtn").hasClass(titleClazz)){
            $("#saveBtn").show()
        }
        if(titleClazz=='r_act'){
            $("#menuFrm").find("input").attr("disabled",true)
            $("#menuFrm").find("select").attr("disabled",true)
            $("#menuFrm").find("textarea").attr("disabled",true)
        }else{
            $("#menuFrm").find("input").attr("disabled",false)
            $("#menuFrm").find("select").attr("disabled",false)
            $("#menuFrm").find("textarea").attr("disabled",false)
        }
    }
    function updateMenuShow(ele) {
        resetFrmField();
        menuBoxTitle("u_act")
        $("#permission").attr("readonly",true)
        console.log($(ele).data("id"));
        var id = $(ele).data("id")
        $.ajax({
            type: 'GET',
            url: '/auth/menu/view/' + id,
            success: function (data) {
                if (data.success) {
                    console.log(data.result)
                    var menu = data.result
                    $("#id").val(menu.id)
                    $("#parentId").val(menu.parentId)
                    $("#parentName").val(menu.parentName)
                    $("#menuName").val(menu.menuName)
                    $("#href").val(menu.href)
                    $("#sort").val(menu.sort)
                    $("#target").val(menu.target)
                    $("#permission").val(menu.permission)

                    $("#status").val(menu.status)
                    $("#remark").val(menu.remark)

                }

            }

        })
    }

    function delMenuShow() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getCheckedNodes(true);
        console.log(nodes)
        var ids=[];

        if(nodes.length==0){
            toastr.error("请勾选需要删除的菜单")
            return;
        }else{
            for(var i=0;i<nodes.length;i++){
                ids.push(nodes[i].id)
            }
        }
        parent.layer.alert('确认删除勾选菜单？', {
                icon: 1,
                skin: 'layer-ext-moon',

            },
            function (index) {
               delMenuDo(ids);
                parent.layer.close(index);
            })

    }

    function delMenuDo(ids) {
        console.log(ids)
        $.ajax({
            type:"POST",
            url:"/auth/menu/delete",
            data:{ids:ids},
            success:function (data) {
                if(data.success){
                    toastr_success(null,'/auth/menu/index')
                }
            }
        })
    }

    /**
     * 新增/修改菜单
     */
    function saveSubmit() {
        if (!$("#menuFrm").valid()) {
            return;
        }
        var url="/auth/menu/create";
        $.ajax({
            type: "POST",
            url: url,
            data: $("#menuFrm").serialize(),
            success: function (data) {
                if (data.success) {
                    toastr_success(null,'/auth/menu/index')
                }
            }
        })


    }

    /**
     * 查看菜单详情
     */
    function zTreeOnDbClick() {
        //获取鼠标点击的标签（单个）START
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getSelectedNodes();
        //获取鼠标点击的标签（单个）END

        console.log(nodes[0].id)
        readMenuShow(nodes[0].id);

    }



    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
//            $("#menuFrm").validate({
//                rules: {
//                    target: {
//                        require: true,
//                    },
//                },
//                messages:{
//                    target: {
//                        require: "11111",
//                    },
//                }
//            });
    });


</script>
<!--</th:block>-->

<style type="text/css">
    .ztree li span.button.add {
        margin-left: 2px;
        margin-right: -1px;
        background-position: -144px 0;
        vertical-align: top;
        *vertical-align: middle
    }
</style>
</body>
</html>