<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">
    <header>
        <th:block layout:fragment="links">
            <link th:href="@{/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet">
        </th:block>

    </header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${systemRolePo.id} eq null ? '新增角色' : '修改角色'"></h5>
            <h5>（<span class="required-sign">*为必填</span>）</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)"
               onclick="history.back()">返回</a>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="roleFrm" th:object="${systemRolePo}">
                <input type="hidden" id="id" name="id" th:value="${systemRolePo.id}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>角色名称</label>
                    <div class="col-sm-3">
                        <input id="roleName" name="roleName" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleName}" th:field="*{roleName}" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>目标</label>
                    <div class="col-sm-3">
                        <select id="target" name="target" class="form-control" required="true" aria-required="true"
                                onchange="getMenuByRoleTarget(this)"
                                th:field="*{target}"
                                th:disabled="${systemRolePo.id != null}">
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemRoleTarget).values()}"
                                    th:value="${state}"

                                    th:text="#{EpSystemRoleTarget.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>角色标识</label>
                    <div class="col-sm-3">
                        <input id="roleCode" name="roleCode" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleCode}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" th:text="${systemRolePo.remark}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>菜单：</label>
                    <div class="col-sm-6">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="frmSubmit()">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exedit.js}"></script>
<script th:inline="javascript">
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {}
    };

    function getMenuByRoleTarget(ele) {
        var target = $(ele).val()
        if (target == "backend" || target == "admin") {
            $.ajax({
                type: "GET",
                url: "/auth/role/getMenuByRoleTarget/" + target,
                success: function (data) {
                    if (data.success) {
                        var menuList = data.result
                        var zNodes = []
                        for (var item in menuList) {
                            zNodes.push({
                                id: menuList[item].id,
                                pId: menuList[item].parentId,
                                name: menuList[item].menuName,
                                open: false
                            })
                        }
                        $("#treeDemo").html("")
                        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    } else {
                        toastr.error(data.errorDescription);
                    }
                },
                error: function (XMLHttpRequest) {
                    toastr_error_system(XMLHttpRequest.status);
                }
            })
        }

    }


    $(document).ready(function () {
        /*当menuIds中出现zNodes中没有的节点，ztree.js报错*/
        var zNodes = [
            [# th:each="menuPojo :${menuList}"]
        {id: [[${menuPojo.id}]], pId:[[${menuPojo.parentId}]], name:[[${menuPojo.menuName}]], open:false},
        [/]
        ];
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        var id= [[${systemRolePo.id}]]
        if(id){
            var menuIds= [
                [# th:each="id :${menuIds}"]
            {id: [[${id}]], open: true},
            [/]
            ];
            $("#roleCode").attr("readonly",true)
        } else {
            $("#target").val("backend")
        }
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        if(menuIds!=undefined){
            for (var i = 0; i < menuIds.length; i++) {
                var node = treeObj.getNodeByParam("id", menuIds[i].id, null);
                treeObj.checkNode(node, true, false,false);
            }
        }
    })
    function frmSubmit() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getCheckedNodes(true);
        var authority = []
        for (var i = 0; i < nodes.length; i++) {
            authority.push({menuId:nodes[i].id});
        }

        if (! $("#roleFrm").valid()) {
            return;
        }
        if (nodes.length == 0) {
            toastr.error("请勾选菜单！")
            return;
        }

        var params={
                id: $("#id").val(),
                roleName: $("#roleName").val(),
                target: $("#target").val(),
                roleCode: $("#roleCode").val(),
                remark: $("#remark").val(),
                systemRoleAuthorityPos: authority
            }
            var url;
            if($("#id").val()){
                url="/auth/role/update"
            }else{
                url="/auth/role/create"
            }
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                layer.load(2, {shade: [0.1, '#fff']});
            },
            success: function (data) {
                if (data.success) {
                    toastr_success(null,"/auth/role/index")
                } else {
                    toastr.error(data.errorDescription);
                }
            },
            error: function (XMLHttpRequest) {
                toastr_error_system(XMLHttpRequest.status);
            },
            complete: function () {
                layer.closeAll();
            }
        })

    }
</script>
</body>
</html>