<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">
    <header>
        <th:block layout:fragment="links">
            <link th:href="@{/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet">
        </th:block>

    </header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${systemRolePo.id} eq null ? '新增角色' : '修改角色'"></h5>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="roleFrm" th:object="${systemRolePo}">
                <input type="hidden" id="id" name="id" th:value="${systemRolePo.id}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色名称：</label>
                    <div class="col-sm-3">
                        <input id="roleName" name="roleName" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleName}" th:field="*{roleName}" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">目标：</label>
                    <div class="col-sm-3">
                        <select id="target" name="target" class="form-control" required="true" aria-required="true" th:field="*{target}">
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemRoleTarget).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemRoleTarget.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色标识：</label>
                    <div class="col-sm-3">
                        <input id="roleCode" name="roleCode" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleCode}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" th:text="${systemRolePo.remark}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">菜单：</label>
                    <div class="col-sm-6">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-primary" type="button" onclick="frmSubmit()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exedit.js}"></script>
<script th:inline="javascript">
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {}


    };
    var zNodes = [
        [# th:each="menuPojo :${@systemMenuService.getAll()}"]
            {id: [[${menuPojo.id}]], pId:[[${menuPojo.parentId}]], name:[[${menuPojo.menuName}]], open:false, authority:[[${menuPojo.permission}]]
            },
        [/]
    ];

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        var id= [[${systemRolePo.id}]]
        console.log("id="+id)
        if(id){
            var menuIds= [
                [# th:each="id :${menuIds}"]
            {id: [[${id}]], open: true},
            [/]
            ];
        }
        console.log(menuIds)
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        if(menuIds!=undefined){
            for (var i = 0; i < menuIds.length; i++) {
                var node = treeObj.getNodeByParam("id", menuIds[i].id, null);
                console.log(node)
                treeObj.checkNode(node, true, false,false);
            }
        }

    })
    function frmSubmit() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getCheckedNodes(true);
        var authority = []
        for (var i = 0; i < nodes.length; i++) {
            authority.push({menuId:nodes[i].id,authority:nodes[i].authority});
        }
        console.log(authority)
        if (nodes.length == 0) {
            return;
        }
        console.log(nodes)
        if (! $("#roleFrm").valid()) {
            return;
        }

        var params={
                id: $("#id").val(),
                roleName: $("#roleName").val(),
                target: $("#target").val(),
                roleCode: $("#roleCode").val(),
                remark: $("#remark").val(),
                systemRoleAuthorityPos: authority
            }
            var url;
            if($("#id").val()){
                url="/auth/role/update"
            }else{
                url="/auth/role/create"
            }
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data.success) {
                    window.location.href = "/auth/role/index";
                }
            }
        })

    }
</script>
</body>
</html>