<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head th:replace="~{fragments/header :: common_header}">
    <header>
        <th:block layout:fragment="links">
            <link th:href="@{/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet">
        </th:block>

    </header>
<body>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 style="display: inline-block" th:text="${systemRolePo.id} eq null ? '查看角色' : '查看角色'"></h5>
            <h5>（<span class="required-sign">*为必填</span>）</h5>
            <a style="display: inline-block;float: right" class="btn btn-xs btn-danger" href="javascript:void(0)"
               onclick="history.back()">返回</a>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="roleFrm" th:object="${systemRolePo}">
                <input type="hidden" id="id" name="id" th:value="${systemRolePo.id}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>角色名称</label>
                    <div class="col-sm-3">
                        <input id="roleName" name="roleName" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleName}" th:field="*{roleName}" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>目标</label>
                    <div class="col-sm-3">
                        <select id="target" name="target" class="form-control" required="true" aria-required="true" th:field="*{target}">
                            <option th:each="state : ${T(com.ep.domain.repository.domain.enums.EpSystemRoleTarget).values()}"
                                    th:value="${state}"
                                    th:text="#{EpSystemRoleTarget.+${state.literal}}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>角色标识</label>
                    <div class="col-sm-3">
                        <input id="roleCode" name="roleCode" type="text" class="form-control" required="true"
                               aria-required="true" th:value="${systemRolePo.roleCode}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-3">
                        <textarea id="remark" name="remark" type="text" class="form-control" th:text="${systemRolePo.remark}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="required-sign">*</span>菜单</label>
                    <div class="col-sm-6">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:replace="~{fragments/scripts}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/demo/form-validate-demo.min.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.core.js}"></script>
<script th:src="@{/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/jquery.ztree.exedit.js}"></script>
<script th:inline="javascript">
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {}


    };


    $(document).ready(function () {
        var zNodes = [
            [# th:each="menuPojo :${menuList}"]
        {id: [[${menuPojo.id}]], pId:[[${menuPojo.parentId}]], name:[[${menuPojo.menuName}]], open:false, authority:[[${menuPojo.permission}]],},
        [/]
        ];

        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        var id= [[${systemRolePo.id}]]
//        console.log("id="+id)
        if(id){
            var menuIds= [
                [# th:each="id :${menuIds}"]
            {id: [[${id}]], open: true},
            [/]
        ];
        }
//        console.log(menuIds)
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        for (var i = 0; i < menuIds.length; i++) {
            var node = treeObj.getNodeByParam("id", menuIds[i].id, null);
            console.log(node)
            treeObj.checkNode(node, true, false,false);
        }

        $("#roleFrm").find("input").attr("disabled",true)
        $("#roleFrm").find("select").attr("disabled",true)
        $("#roleFrm").find("textarea").attr("disabled",true)
    })

</script>
</body>
</html>