<head th:fragment="common_header"><!---这里引样式->
   <!--<link  th:href="@{/img/favicon.png}" rel="shortcut icon" />-->
    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />-->
    <!--<link  th:href="@{/css/bootstrap-reset.css}" rel="stylesheet" />-->
    <!--&lt;!&ndash;external css&ndash;&gt;-->
    <!--<link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />-->
    <!--&lt;!&ndash;<link th:th:href="@{/@{assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen"/>&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-fileupload/bootstrap-fileupload.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css}" />-->
    <!--<link rel="stylesheet" type="text/css"-->
    <!--th:href="@{/assets/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css}" />-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-timepicker/compiled/timepicker.css}" />&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-colorpicker/css/colorpicker.css}" />&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-daterangepicker/daterangepicker-bs3.css}" />&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-datetimepicker/css/datetimepicker.css}" />&ndash;&gt;-->

    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/jquery-multi-select/css/multi-select.css}" />-->
    <!--<link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css"/>-->

    <!--&lt;!&ndash;right slidebar&ndash;&gt;-->
    <!--<link th:href="@{/css/slidebars.css}" rel="stylesheet"/>-->
    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->

    <!--<link th:href="@{/css/style.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/css/style-responsive.css}" rel="stylesheet" />-->
    <!--<link th:href="@{/css/common.css}" rel="stylesheet" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap-datetimepicker/css/datetimepicker.css}" />-->
    <!--<th:block layout:fragment="links"></th:block>-->

    <!--&lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script th:src="@{/js/html5shiv.js}"></script>-->
    <!--<script th:src="@{/js/respond.min.js}"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <title>长富后台系统</title>
</head>

