<div id="sidebar" class="nav-collapse " tabindex="0" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="" href="/index.html"> <i class="fa fa-dashboard"></i> <span>主页</span> </a>
        </li>

        <li class="sub-menu dcjq-parent-li" th:each="menuPojo :${@sysMenuService.findChild()}">
            <a href="javascript:;" class="dcjq-parent "
               th:if="${#stringTools.equals(menuPojo.type,'menu')}"
               shiro:hasPermission="${menuPojo.permission}"
               th:class=" ${isShowAction}  ? 'dcjq-parent active' : 'dcjq-parent  ' ">
                <i th:class="${menuPojo.icon}"></i>
                <span th:text="${menuPojo.name}" th:with=" menuName = ${menuPojo.name} "></span>
                <!--<span class="dcjq-icon" th:class="${menuPojo.icon}"></span>-->
            </a>
            <ul class="sub" style="display: none;">
                <li th:each="menuPojoChird :${menuPojo.list}"
                    th:with=" isShowAction  = (${#request.getRequestURI()} != ${menuPojoChird.href})"
                    th:class=" ${isShowAction}  ? '' : 'active' ">

                    <a th:if="${#stringTools.equals(menuPojoChird.type,'page')}"
                       th:href="${menuPojoChird.href}" shiro:hasPermission="${menuPojoChird.permission}">
                        <i th:class="${menuPojoChird.icon}"
                           style="vertical-align: middle;width:15px;display: inline-block;"></i><span
                            th:title="${menuPojoChird.name}"
                            style="width: 120px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;vertical-align: middle;"
                            th:text="${menuPojoChird.name}"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>



