<!--这里引js-->
<script th:src="@{/js/jquery.min.js}"></script>
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<script class="include" type="text/javascript" th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>-->
<!--<script th:src="@{/js/jquery.scrollTo.min.js}"></script>-->
<!--<script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/js/owl.carousel.js}"></script>-->
<!--<script th:src="@{/js/jquery.customSelect.min.js}"></script>-->
<!--<script th:src="@{/js/respond.min.js}"></script>-->
<!--&lt;!&ndash;right slidebar&ndash;&gt;-->
<!--<script th:src="@{/js/slidebars.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/moment/min/moment.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/moment/min/locales.min.js}"></script>-->
<!--<script type="text/javascript"-->
<!--th:src="@{/assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>-->
<!--<script th:src="@{/assets/toastr-master/build/toastr.min.js}"></script>-->
<!--<script th:src="@{/modules/core.js}"></script>-->
<!--<script th:src="@{/js/common-scripts.js}"></script>-->
<!--<script th:src="@{/js/vue.min.js}"></script>-->
<!--<script>-->
<!--$(document).ready(function () {-->
<!--$("#owl-demo").owlCarousel({-->
<!--navigation: true,-->
<!--slideSpeed: 300,-->
<!--paginationSpeed: 400,-->
<!--singleItem: true,-->
<!--autoPlay: true-->
<!--});-->
<!--});-->
<!--$(function () {-->
<!--$('select.styled').customSelect();-->
<!--});-->
<!--function ajaxSessionCheck(data) {-->
<!--if (typeof(data) != "object") {-->
<!--if (typeof(data) == 'string' && data.substring(0, 15) == '<!DOCTYPE html>') {-->
<!--console.log("session失效")-->
<!--window.location = "/login";-->
<!--return false-->
<!--}-->
<!--}-->

<!--}-->
<!--</script>-->
<th:block layout:fragment="scripts"></th:block>