<!--这里引js-->

<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script th:src="@{/js/hplus.min.js?v=4.1.0}"></script>
<script type="text/javascript" th:src="@{/js/contabs.min.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<th:block layout:fragment="scripts"></th:block>